<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="关系数据">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="关系唯一标示" type="xs:string" minOccurs="0" />
                <xs:element name="调用方识别标记" type="xs:string" minOccurs="0" />
                <xs:element name="是否开启日志" type="xs:int" minOccurs="0" />
                <xs:element name="业务名称" type="xs:string" minOccurs="0" />
                <xs:element name="操作特点" type="xs:int" minOccurs="0" />
                <xs:element name="调用方式" type="xs:int" minOccurs="0" />
                <xs:element name="接口域名" type="xs:string" minOccurs="0" />
                <xs:element name="接口地址" type="xs:string" minOccurs="0" />
                <xs:element name="方法名" type="xs:string" minOccurs="0" />
                <xs:element name="返回值类型" type="xs:string" minOccurs="0" />
                <xs:element name="参数类型" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <关系数据>
    <关系唯一标示>a7764d72-7f63-4fc5-b93f-dfe4cbfa39d2</关系唯一标示>
    <调用方识别标记>Server交易指令中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>成交处理</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>RunCJGZ_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dtRun}★String{sp}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>50fe5b0d-a900-44fa-88bb-efc0d09f5b70</关系唯一标示>
    <调用方识别标记>Server交易指令中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取主键</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>system.ipc.com</接口域名>
    <接口地址>system.asmx</接口地址>
    <方法名>GetNextNumberZZ_XTKZ</方法名>
    <返回值类型>string</返回值类型>
    <参数类型>string|string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>e0cbbbb5-f1bd-4ccc-8535-67200c2aa9a3</关系唯一标示>
    <调用方识别标记>Server交易指令中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>关联经纪人信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>user.ipc.com</接口域名>
    <接口地址>user.asmx</接口地址>
    <方法名>GetJJRInfo_YHKZZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>30247307-c797-456e-a966-a9b87c235d61</关系唯一标示>
    <调用方识别标记>Server交易指令中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>用户基本信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>user.ipc.com</接口域名>
    <接口地址>user.asmx</接口地址>
    <方法名>GetUserInfo_YHKZZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>0d687998-3513-41e8-9b31-529c7d92e5b1</关系唯一标示>
    <调用方识别标记>Server交易指令中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>账户当前可用余额</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>user.ipc.com</接口域名>
    <接口地址>user.asmx</接口地址>
    <方法名>GetZHKYYE_YHKZZX</方法名>
    <返回值类型>string</返回值类型>
    <参数类型>string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>3ef187b2-0714-4266-a2a9-328773962a4c</关系唯一标示>
    <调用方识别标记>Server交易指令中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>商品有效</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>other.ipc.com</接口域名>
    <接口地址>other.asmx</接口地址>
    <方法名>IsSpValid_FZYWZX</方法名>
    <返回值类型>string</返回值类型>
    <参数类型>string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>a85d11e7-e36a-4dd8-b2d6-2a37ea1d075f</关系唯一标示>
    <调用方识别标记>Server交易指令中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>分页数据获取</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>analysis.ipc.com</接口域名>
    <接口地址>pagerdemo.asmx</接口地址>
    <方法名>GetPagerDB</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataSet</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>93a4a366-24e8-4738-a56d-784d2007bd98</关系唯一标示>
    <调用方识别标记>Server交易指令中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>定义分页参数</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>analysis.ipc.com</接口域名>
    <接口地址>pagerdemo.asmx</接口地址>
    <方法名>SetPagerInit</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>string[]</参数类型>
  </关系数据>
</NewDataSet>