* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u0_normal.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u4_normal.png");
}

* html .u6_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u6_normal.png");
}

* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u9_normal.png");
}

* html .u11_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u11_normal.png");
}

* html .u14_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u14_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u16_normal.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u6_normal.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u21_normal.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u23_normal.png");
}

* html .u25c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u25c0.png");
}

* html .u25c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u25c1.png");
}

* html .u27c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u27c0.png");
}

* html .u27c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u27c1.png");
}

* html .u27c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u27c2.png");
}

* html .u29c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u29c0.png");
}

* html .u29c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u29c1.png");
}

* html .u29c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u29c2.png");
}

* html .u31_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u6_normal.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u21_normal.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u23_normal.png");
}

* html .u38c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u38c0.png");
}

* html .u38c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u38c1.png");
}

* html .u40c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u40c0.png");
}

* html .u40c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u40c1.png");
}

* html .u42c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u42c0.png");
}

* html .u42c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u42c1.png");
}

* html .u44c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u44c0.png");
}

* html .u44c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u44c1.png");
}

* html .u44c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u44c2.png");
}

* html .u46c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u46c0.png");
}

* html .u46c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u46c1.png");
}

* html .u46c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u46c2.png");
}

* html .u48_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u48_normal.png");
}

* html .u50_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="主盘右键_files/u0_normal.png");
}

