<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- IPC接口聚合中心配置 , IPCurl是接口中心地址，ThisAppPoolName是本地应用进程池名（部署时清理进程用的） -->
		<add name="IPCurl" connectionString="http://ipc.ipc.com/fmwscenter.asmx"/>
		<add name="ThisAppPoolName" connectionString="浦发监控"/>
	</connectionStrings>
	<system.web>
		<httpRuntime executionTimeout="6000"/>
	</system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
