<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="关系数据">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="关系唯一标示" type="xs:string" minOccurs="0" />
                <xs:element name="调用方识别标记" type="xs:string" minOccurs="0" />
                <xs:element name="是否开启日志" type="xs:int" minOccurs="0" />
                <xs:element name="业务名称" type="xs:string" minOccurs="0" />
                <xs:element name="操作特点" type="xs:int" minOccurs="0" />
                <xs:element name="调用方式" type="xs:int" minOccurs="0" />
                <xs:element name="接口域名" type="xs:string" minOccurs="0" />
                <xs:element name="接口地址" type="xs:string" minOccurs="0" />
                <xs:element name="方法名" type="xs:string" minOccurs="0" />
                <xs:element name="返回值类型" type="xs:string" minOccurs="0" />
                <xs:element name="参数类型" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <关系数据>
    <关系唯一标示>aa643d89-099a-4c77-a474-a6f958937d52</关系唯一标示>
    <调用方识别标记>ServerDemo2</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>模拟测试1</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>ServerDemo1.ipc.com</接口域名>
    <接口地址>s1.asmx</接口地址>
    <方法名>test</方法名>
    <返回值类型>string</返回值类型>
    <参数类型>string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>e872a8e4-747b-40b4-b3e3-0c0e0259e514</关系唯一标示>
    <调用方识别标记>ServerDemo2</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>模拟测试2</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>ServerDemo1.ipc.com</接口域名>
    <接口地址>s1.asmx</接口地址>
    <方法名>ceshi22222222</方法名>
    <返回值类型>string</返回值类型>
    <参数类型>int|DataSet</参数类型>
  </关系数据>
</NewDataSet>