body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:522px;
    top:312px;
    width:724px;
    height:163px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:730px;
    height:169px;
}

.u1 {
    position:absolute;
    left:2px;
    top:74px;
    width:720px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:525px;
    top:81px;
    width:95px;
    height:52px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:58px;
}

.u3 {
    position:absolute;
    left:2px;
    top:18px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:187px;
    top:30px;
    width:140px;
    height:140px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:146px;
}

.u5 {
    position:absolute;
    left:2px;
    top:62px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:190px;
    top:42px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:212px;
    top:97px;
    width:85px;
    height:30px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:36px;
}

.u8 {
    position:absolute;
    left:2px;
    top:7px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u7_normal.png');
}

.u9_container {
    position:absolute;
    left:212px;
    top:131px;
    width:85px;
    height:30px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:36px;
}

.u10 {
    position:absolute;
    left:2px;
    top:7px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:697px;
    top:34px;
    width:140px;
    height:73px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:79px;
}

.u12 {
    position:absolute;
    left:2px;
    top:28px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:700px;
    top:41px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:711px;
    top:67px;
    width:112px;
    height:33px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:39px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:502px;
    top:699px;
    width:140px;
    height:139px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:145px;
}

.u17 {
    position:absolute;
    left:2px;
    top:62px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:504px;
    top:711px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u7_normal.png');
}

.u19_container {
    position:absolute;
    left:212px;
    top:63px;
    width:85px;
    height:30px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:36px;
}

.u20 {
    position:absolute;
    left:2px;
    top:7px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_end {
    background-image: url('../登录主盘页面流程V1_1_files/u21_end.png');
}

.u21_end {
    position:absolute;
    left:77px;
    top:-5px;
    width:14px;
    height:20px;
}

.u21_line {
    background-image: url('../登录主盘页面流程V1_1_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:86px;
    height:3px;
}

.u21 {
    position:absolute;
    left:297px;
    top:102px;
    width:86px;
    height:10px;
    
}

.u22_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:326px;
    top:194px;
    width:140px;
    height:76px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:82px;
}

.u23 {
    position:absolute;
    left:2px;
    top:30px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:330px;
    top:201px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:340px;
    top:224px;
    width:112px;
    height:35px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:41px;
}

.u26 {
    position:absolute;
    left:2px;
    top:10px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u27c0.png');
}

.u27c0 {
    position:absolute;
    left:296px;
    top:60px;
    width:411px;
    height:20px;
}

.u28 {
    position:absolute;
    left:148px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:383px;
    top:89px;
    width:85px;
    height:35px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:41px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:81px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:697px;
    top:126px;
    width:140px;
    height:75px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:81px;
}

.u32 {
    position:absolute;
    left:2px;
    top:30px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:700px;
    top:134px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:718px;
    top:154px;
    width:98px;
    height:35px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:41px;
}

.u35 {
    position:absolute;
    left:2px;
    top:10px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:711px;
    top:161px;
    width:112px;
    height:32px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:38px;
}

.u37 {
    position:absolute;
    left:2px;
    top:8px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u38c0.png');
}

.u38c0 {
    position:absolute;
    left:464px;
    top:96px;
    width:61px;
    height:20px;
}

.u38c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u38c1.png');
}

.u38c1 {
    position:absolute;
    left:505px;
    top:96px;
    width:20px;
    height:21px;
}

.u38c2 {
    background-image: url('../登录主盘页面流程V1_1_files/u38c2.png');
}

.u38c2 {
    position:absolute;
    left:505px;
    top:97px;
    width:24px;
    height:20px;
}

.u39 {
    position:absolute;
    left:-21px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u40c0.png');
}

.u40c0 {
    position:absolute;
    left:616px;
    top:97px;
    width:24px;
    height:20px;
}

.u40c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u40c1.png');
}

.u40c1 {
    position:absolute;
    left:620px;
    top:97px;
    width:20px;
    height:77px;
}

.u40c2 {
    background-image: url('../登录主盘页面流程V1_1_files/u40c2.png');
}

.u40c2 {
    position:absolute;
    left:620px;
    top:154px;
    width:81px;
    height:20px;
}

.u41 {
    position:absolute;
    left:-40px;
    top:49px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u2_normal.png');
}

.u42_container {
    position:absolute;
    left:525px;
    top:339px;
    width:95px;
    height:52px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:58px;
}

.u43 {
    position:absolute;
    left:2px;
    top:18px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u44c0.png');
}

.u44c0 {
    position:absolute;
    left:562px;
    top:129px;
    width:20px;
    height:97px;
}

.u45 {
    position:absolute;
    left:-50px;
    top:34px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u46c0.png');
}

.u46c0 {
    position:absolute;
    left:247px;
    top:166px;
    width:20px;
    height:76px;
}

.u46c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u46c1.png');
}

.u46c1 {
    position:absolute;
    left:247px;
    top:222px;
    width:83px;
    height:20px;
}

.u47 {
    position:absolute;
    left:-46px;
    top:54px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u48c0.png');
}

.u48c0 {
    position:absolute;
    left:614px;
    top:238px;
    width:20px;
    height:34px;
}

.u48c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u48c1.png');
}

.u48c1 {
    position:absolute;
    left:614px;
    top:252px;
    width:90px;
    height:20px;
}

.u49 {
    position:absolute;
    left:-22px;
    top:12px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:508px;
    top:965px;
    width:109px;
    height:61px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:67px;
}

.u51 {
    position:absolute;
    left:2px;
    top:14px;
    width:105px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:254px;
    top:931px;
    width:140px;
    height:130px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:136px;
}

.u53 {
    position:absolute;
    left:2px;
    top:57px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:256px;
    top:939px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u25_normal.png');
}

.u55_container {
    position:absolute;
    left:266px;
    top:965px;
    width:112px;
    height:35px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:41px;
}

.u56 {
    position:absolute;
    left:2px;
    top:10px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u25_normal.png');
}

.u57_container {
    position:absolute;
    left:268px;
    top:1010px;
    width:112px;
    height:35px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:41px;
}

.u58 {
    position:absolute;
    left:2px;
    top:10px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:60px;
    top:990px;
    width:140px;
    height:85px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:91px;
}

.u60 {
    position:absolute;
    left:2px;
    top:34px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:63px;
    top:998px;
    width:123px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u34_normal.png');
}

.u62_container {
    position:absolute;
    left:81px;
    top:1022px;
    width:98px;
    height:35px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:41px;
}

.u63 {
    position:absolute;
    left:2px;
    top:10px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u25_normal.png');
}

.u64_container {
    position:absolute;
    left:74px;
    top:1032px;
    width:112px;
    height:35px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:41px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:108px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u7_normal.png');
}

.u66_container {
    position:absolute;
    left:536px;
    top:783px;
    width:85px;
    height:30px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:36px;
}

.u67 {
    position:absolute;
    left:2px;
    top:7px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u7_normal.png');
}

.u68_container {
    position:absolute;
    left:534px;
    top:743px;
    width:85px;
    height:30px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:36px;
}

.u69 {
    position:absolute;
    left:2px;
    top:7px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u70c0.png');
}

.u70c0 {
    position:absolute;
    left:562px;
    top:834px;
    width:20px;
    height:52px;
}

.u71 {
    position:absolute;
    left:-50px;
    top:11px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:493px;
    top:1370px;
    width:140px;
    height:170px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:176px;
}

.u73 {
    position:absolute;
    left:2px;
    top:77px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:495px;
    top:1382px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u7_normal.png');
}

.u75_container {
    position:absolute;
    left:525px;
    top:1454px;
    width:85px;
    height:30px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:36px;
}

.u76 {
    position:absolute;
    left:2px;
    top:7px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u7_normal.png');
}

.u77_container {
    position:absolute;
    left:525px;
    top:1414px;
    width:85px;
    height:30px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:36px;
}

.u78 {
    position:absolute;
    left:2px;
    top:7px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u79c0.png');
}

.u79c0 {
    position:absolute;
    left:384px;
    top:986px;
    width:128px;
    height:20px;
}

.u80 {
    position:absolute;
    left:-107px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u81c0.png');
}

.u81c0 {
    position:absolute;
    left:190px;
    top:1020px;
    width:84px;
    height:20px;
}

.u81c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u81c1.png');
}

.u81c1 {
    position:absolute;
    left:190px;
    top:1020px;
    width:20px;
    height:22px;
}

.u82 {
    position:absolute;
    left:-89px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u59_normal.png');
}

.u83_container {
    position:absolute;
    left:60px;
    top:885px;
    width:140px;
    height:85px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:91px;
}

.u84 {
    position:absolute;
    left:2px;
    top:34px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:63px;
    top:893px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:74px;
    top:919px;
    width:112px;
    height:43px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:49px;
}

.u87 {
    position:absolute;
    left:2px;
    top:14px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u88c0.png');
}

.u88c0 {
    position:absolute;
    left:236px;
    top:970px;
    width:38px;
    height:20px;
}

.u88c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u88c1.png');
}

.u88c1 {
    position:absolute;
    left:236px;
    top:918px;
    width:20px;
    height:72px;
}

.u88c2 {
    background-image: url('../登录主盘页面流程V1_1_files/u88c2.png');
}

.u88c2 {
    position:absolute;
    left:196px;
    top:918px;
    width:60px;
    height:20px;
}

.u89 {
    position:absolute;
    left:-74px;
    top:-45px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:509px;
    top:1120px;
    width:107px;
    height:62px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:68px;
}

.u91 {
    position:absolute;
    left:2px;
    top:23px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:241px;
    top:1105px;
    width:150px;
    height:85px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:91px;
}

.u93 {
    position:absolute;
    left:2px;
    top:34px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:247px;
    top:1113px;
    width:141px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u25_normal.png');
}

.u95_container {
    position:absolute;
    left:259px;
    top:1137px;
    width:112px;
    height:35px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:41px;
}

.u96 {
    position:absolute;
    left:2px;
    top:10px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:249px;
    top:1147px;
    width:128px;
    height:35px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:41px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u99c0.png');
}

.u99c0 {
    position:absolute;
    left:552px;
    top:1022px;
    width:20px;
    height:108px;
}

.u100 {
    position:absolute;
    left:-50px;
    top:39px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u101c0.png');
}

.u101c0 {
    position:absolute;
    left:489px;
    top:1141px;
    width:24px;
    height:20px;
}

.u101c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u101c1.png');
}

.u101c1 {
    position:absolute;
    left:489px;
    top:1138px;
    width:20px;
    height:23px;
}

.u101c2 {
    background-image: url('../登录主盘页面流程V1_1_files/u101c2.png');
}

.u101c2 {
    position:absolute;
    left:387px;
    top:1138px;
    width:122px;
    height:20px;
}

.u102 {
    position:absolute;
    left:-108px;
    top:-11px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:494px;
    top:1247px;
    width:136px;
    height:67px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:73px;
}

.u104 {
    position:absolute;
    left:2px;
    top:18px;
    width:132px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u105c0.png');
}

.u105c0 {
    position:absolute;
    left:552px;
    top:1178px;
    width:20px;
    height:79px;
}

.u106 {
    position:absolute;
    left:-50px;
    top:24px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u107c0.png');
}

.u107c0 {
    position:absolute;
    left:379px;
    top:1270px;
    width:119px;
    height:20px;
}

.u108 {
    position:absolute;
    left:-102px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u109c0.png');
}

.u109c0 {
    position:absolute;
    left:552px;
    top:1310px;
    width:20px;
    height:24px;
}

.u109c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u109c1.png');
}

.u109c1 {
    position:absolute;
    left:552px;
    top:1314px;
    width:21px;
    height:20px;
}

.u109c2 {
    background-image: url('../登录主盘页面流程V1_1_files/u109c2.png');
}

.u109c2 {
    position:absolute;
    left:553px;
    top:1314px;
    width:20px;
    height:60px;
}

.u110 {
    position:absolute;
    left:-49px;
    top:20px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:518px;
    top:593px;
    width:109px;
    height:70px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:76px;
}

.u112 {
    position:absolute;
    left:2px;
    top:19px;
    width:105px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u2_normal.png');
}

.u113_container {
    position:absolute;
    left:525px;
    top:216px;
    width:95px;
    height:52px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:58px;
}

.u114 {
    position:absolute;
    left:2px;
    top:18px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u92_normal.png');
}

.u115_container {
    position:absolute;
    left:703px;
    top:585px;
    width:150px;
    height:85px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:91px;
}

.u116 {
    position:absolute;
    left:2px;
    top:34px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:704px;
    top:593px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u25_normal.png');
}

.u118_container {
    position:absolute;
    left:724px;
    top:617px;
    width:112px;
    height:35px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:41px;
}

.u119 {
    position:absolute;
    left:2px;
    top:10px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u120_normal.png');
}

.u120_container {
    position:absolute;
    left:710px;
    top:627px;
    width:138px;
    height:35px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:41px;
}

.u121 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u122c0.png');
}

.u122c0 {
    position:absolute;
    left:562px;
    top:264px;
    width:20px;
    height:85px;
}

.u123 {
    position:absolute;
    left:-50px;
    top:28px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u124c0.png');
}

.u124c0 {
    position:absolute;
    left:562px;
    top:387px;
    width:20px;
    height:103px;
}

.u125 {
    position:absolute;
    left:-50px;
    top:36px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u126c0.png');
}

.u126c0 {
    position:absolute;
    left:623px;
    top:618px;
    width:90px;
    height:20px;
}

.u127 {
    position:absolute;
    left:-12px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u128c0.png');
}

.u128c0 {
    position:absolute;
    left:562px;
    top:659px;
    width:20px;
    height:50px;
}

.u129 {
    position:absolute;
    left:-50px;
    top:10px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u92_normal.png');
}

.u130_container {
    position:absolute;
    left:239px;
    top:1238px;
    width:150px;
    height:85px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:91px;
}

.u131 {
    position:absolute;
    left:2px;
    top:34px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:240px;
    top:1246px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u25_normal.png');
}

.u133_container {
    position:absolute;
    left:260px;
    top:1270px;
    width:112px;
    height:35px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:41px;
}

.u134 {
    position:absolute;
    left:2px;
    top:10px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u120_normal.png');
}

.u135_container {
    position:absolute;
    left:246px;
    top:1280px;
    width:138px;
    height:35px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:41px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:134px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u7_normal.png');
}

.u137_container {
    position:absolute;
    left:525px;
    top:1500px;
    width:85px;
    height:30px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:36px;
}

.u138 {
    position:absolute;
    left:2px;
    top:7px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u139_normal.png');
}

.u139_container {
    position:absolute;
    left:879px;
    top:49px;
    width:110px;
    height:43px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:49px;
}

.u140 {
    position:absolute;
    left:2px;
    top:14px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u31_normal.png');
}

.u141_container {
    position:absolute;
    left:700px;
    top:224px;
    width:140px;
    height:75px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:81px;
}

.u142 {
    position:absolute;
    left:2px;
    top:30px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:703px;
    top:231px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u144_normal.png');
}

.u144_container {
    position:absolute;
    left:721px;
    top:251px;
    width:98px;
    height:31px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:37px;
}

.u145 {
    position:absolute;
    left:2px;
    top:8px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u146_normal.png');
}

.u146_container {
    position:absolute;
    left:714px;
    top:261px;
    width:112px;
    height:31px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:37px;
}

.u147 {
    position:absolute;
    left:2px;
    top:0px;
    width:108px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u148_normal.png');
}

.u148_container {
    position:absolute;
    left:874px;
    top:325px;
    width:140px;
    height:70px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:76px;
}

.u149 {
    position:absolute;
    left:2px;
    top:27px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:878px;
    top:332px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u11_normal.png');
}

.u151_container {
    position:absolute;
    left:1086px;
    top:348px;
    width:140px;
    height:73px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:79px;
}

.u152 {
    position:absolute;
    left:2px;
    top:28px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:1090px;
    top:356px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u14_normal.png');
}

.u154_container {
    position:absolute;
    left:1100px;
    top:382px;
    width:112px;
    height:33px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:39px;
}

.u155 {
    position:absolute;
    left:2px;
    top:8px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u148_normal.png');
}

.u156_container {
    position:absolute;
    left:874px;
    top:401px;
    width:140px;
    height:70px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:76px;
}

.u157 {
    position:absolute;
    left:2px;
    top:27px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:878px;
    top:408px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u159c0.png');
}

.u159c0 {
    position:absolute;
    left:1010px;
    top:350px;
    width:76px;
    height:20px;
}

.u159c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u159c1.png');
}

.u159c1 {
    position:absolute;
    left:1066px;
    top:350px;
    width:20px;
    height:44px;
}

.u159c2 {
    background-image: url('../登录主盘页面流程V1_1_files/u159c2.png');
}

.u159c2 {
    position:absolute;
    left:1066px;
    top:374px;
    width:24px;
    height:20px;
}

.u160 {
    position:absolute;
    left:-2px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u161c0.png');
}

.u161c0 {
    position:absolute;
    left:1010px;
    top:426px;
    width:76px;
    height:20px;
}

.u161c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u161c1.png');
}

.u161c1 {
    position:absolute;
    left:1066px;
    top:374px;
    width:20px;
    height:72px;
}

.u161c2 {
    background-image: url('../登录主盘页面流程V1_1_files/u161c2.png');
}

.u161c2 {
    position:absolute;
    left:1066px;
    top:374px;
    width:24px;
    height:20px;
}

.u162 {
    position:absolute;
    left:12px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u163c0.png');
}

.u163c0 {
    position:absolute;
    left:833px;
    top:60px;
    width:56px;
    height:20px;
}

.u164 {
    position:absolute;
    left:-29px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u165_normal.png');
}

.u165_container {
    position:absolute;
    left:529px;
    top:876px;
    width:85px;
    height:30px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:36px;
}

.u166 {
    position:absolute;
    left:2px;
    top:7px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u167c0.png');
}

.u167c0 {
    position:absolute;
    left:562px;
    top:902px;
    width:20px;
    height:63px;
}

.u167c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u167c1.png');
}

.u167c1 {
    position:absolute;
    left:552px;
    top:945px;
    width:30px;
    height:20px;
}

.u167c2 {
    background-image: url('../登录主盘页面流程V1_1_files/u167c2.png');
}

.u167c2 {
    position:absolute;
    left:552px;
    top:945px;
    width:20px;
    height:24px;
}

.u168 {
    position:absolute;
    left:-50px;
    top:26px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u169_normal.png');
}

.u169_container {
    position:absolute;
    left:1290px;
    top:354px;
    width:100px;
    height:60px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u170 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u171c0.png');
}

.u171c0 {
    position:absolute;
    left:190px;
    top:1138px;
    width:55px;
    height:20px;
}

.u171c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u171c1.png');
}

.u171c1 {
    position:absolute;
    left:190px;
    top:1138px;
    width:20px;
    height:16px;
}

.u172 {
    position:absolute;
    left:-72px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u144_normal.png');
}

.u173_container {
    position:absolute;
    left:895px;
    top:348px;
    width:98px;
    height:31px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:37px;
}

.u174 {
    position:absolute;
    left:2px;
    top:8px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u2_normal.png');
}

.u175_container {
    position:absolute;
    left:650px;
    top:338px;
    width:95px;
    height:52px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:58px;
}

.u176 {
    position:absolute;
    left:2px;
    top:18px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u177c0.png');
}

.u177c0 {
    position:absolute;
    left:616px;
    top:355px;
    width:34px;
    height:20px;
}

.u177c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u177c1.png');
}

.u177c1 {
    position:absolute;
    left:630px;
    top:354px;
    width:20px;
    height:21px;
}

.u177c2 {
    background-image: url('../登录主盘页面流程V1_1_files/u177c2.png');
}

.u177c2 {
    position:absolute;
    left:630px;
    top:354px;
    width:24px;
    height:20px;
}

.u178 {
    position:absolute;
    left:-34px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u179c0.png');
}

.u179c0 {
    position:absolute;
    left:741px;
    top:354px;
    width:24px;
    height:20px;
}

.u179c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u179c1.png');
}

.u179c1 {
    position:absolute;
    left:745px;
    top:350px;
    width:20px;
    height:24px;
}

.u179c2 {
    background-image: url('../登录主盘页面流程V1_1_files/u179c2.png');
}

.u179c2 {
    position:absolute;
    left:745px;
    top:350px;
    width:133px;
    height:20px;
}

.u180 {
    position:absolute;
    left:12px;
    top:-12px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u181c0.png');
}

.u181c0 {
    position:absolute;
    left:688px;
    top:386px;
    width:20px;
    height:60px;
}

.u181c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u181c1.png');
}

.u181c1 {
    position:absolute;
    left:688px;
    top:426px;
    width:190px;
    height:20px;
}

.u182 {
    position:absolute;
    left:15px;
    top:38px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u111_normal.png');
}

.u183_container {
    position:absolute;
    left:518px;
    top:480px;
    width:109px;
    height:70px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:76px;
}

.u184 {
    position:absolute;
    left:2px;
    top:27px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u185c0.png');
}

.u185c0 {
    position:absolute;
    left:562px;
    top:546px;
    width:20px;
    height:57px;
}

.u186 {
    position:absolute;
    left:-50px;
    top:14px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u31_normal.png');
}

.u187_container {
    position:absolute;
    left:708px;
    top:485px;
    width:140px;
    height:75px;
}

#u187_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:81px;
}

.u188 {
    position:absolute;
    left:2px;
    top:30px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:711px;
    top:492px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u144_normal.png');
}

.u190_container {
    position:absolute;
    left:729px;
    top:512px;
    width:98px;
    height:31px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:37px;
}

.u191 {
    position:absolute;
    left:2px;
    top:8px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u146_normal.png');
}

.u192_container {
    position:absolute;
    left:722px;
    top:522px;
    width:112px;
    height:31px;
}

#u192_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:37px;
}

.u193 {
    position:absolute;
    left:2px;
    top:8px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u194c0.png');
}

.u194c0 {
    position:absolute;
    left:623px;
    top:505px;
    width:24px;
    height:20px;
}

.u194c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u194c1.png');
}

.u194c1 {
    position:absolute;
    left:627px;
    top:505px;
    width:20px;
    height:27px;
}

.u194c2 {
    background-image: url('../登录主盘页面流程V1_1_files/u194c2.png');
}

.u194c2 {
    position:absolute;
    left:627px;
    top:512px;
    width:85px;
    height:20px;
}

.u195 {
    position:absolute;
    left:-13px;
    top:-1px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u36_normal.png');
}

.u196_container {
    position:absolute;
    left:888px;
    top:357px;
    width:112px;
    height:32px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:38px;
}

.u197 {
    position:absolute;
    left:2px;
    top:0px;
    width:108px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u144_normal.png');
}

.u198_container {
    position:absolute;
    left:895px;
    top:424px;
    width:98px;
    height:31px;
}

#u198_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:104px;
    height:37px;
}

.u199 {
    position:absolute;
    left:2px;
    top:8px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u36_normal.png');
}

.u200_container {
    position:absolute;
    left:888px;
    top:431px;
    width:112px;
    height:32px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:118px;
    height:38px;
}

.u201 {
    position:absolute;
    left:2px;
    top:8px;
    width:108px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../登录主盘页面流程V1_1_files/u202_normal.png');
}

.u202_container {
    position:absolute;
    left:160px;
    top:1130px;
    width:55px;
    height:28px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:34px;
}

.u203 {
    position:absolute;
    left:2px;
    top:6px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204c0 {
    background-image: url('../登录主盘页面流程V1_1_files/u204c0.png');
}

.u204c0 {
    position:absolute;
    left:178px;
    top:1154px;
    width:20px;
    height:296px;
}

.u204c1 {
    background-image: url('../登录主盘页面流程V1_1_files/u204c1.png');
}

.u204c1 {
    position:absolute;
    left:178px;
    top:1430px;
    width:326px;
    height:20px;
}

.u205 {
    position:absolute;
    left:-35px;
    top:266px;
    width:100px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

