body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:150px;
    top:70px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1 {
    position:absolute;
    left:0px;
    top:75px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:152px;
    top:106px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:50px;
    top:114px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:152px;
    top:150px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:45px;
    top:156px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:354px;
    top:156px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:61px;
    top:190px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u8 {
    position:absolute;
    left:149px;
    top:226px;
    width:315px;
    height:95px
}

.u9_normal {
    background-image: url('../考核小组增加_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:30px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u10 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../考核小组增加_files/u9_normal.png');
}

.u11_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:30px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u12 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../考核小组增加_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:200px;
    top:0px;
    width:110px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:36px;
}

.u14 {
    position:absolute;
    left:2px;
    top:7px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../考核小组增加_files/u9_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:30px;
    width:100px;
    height:30px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u16 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../考核小组增加_files/u9_normal.png');
}

.u17_container {
    position:absolute;
    left:100px;
    top:30px;
    width:100px;
    height:30px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u18 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../考核小组增加_files/u13_normal.png');
}

.u19_container {
    position:absolute;
    left:200px;
    top:30px;
    width:110px;
    height:30px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:36px;
}

.u20 {
    position:absolute;
    left:2px;
    top:7px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../考核小组增加_files/u9_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../考核小组增加_files/u9_normal.png');
}

.u23_container {
    position:absolute;
    left:100px;
    top:60px;
    width:100px;
    height:30px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u24 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../考核小组增加_files/u13_normal.png');
}

.u25_container {
    position:absolute;
    left:200px;
    top:60px;
    width:110px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:36px;
}

.u26 {
    position:absolute;
    left:2px;
    top:7px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:369px;
    top:260px;
    width:60px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:169px;
    top:258px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:373px;
    top:290px;
    width:60px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:150px;
    top:341px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:354px;
    top:112px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:50px;
    top:34px;
    width:610px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

