<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<connectionStrings>
		<add name="fmConnection" connectionString="Data Source=192.168.0.22;Initial Catalog=fm;User ID=sa;Password=100zzcom;Persist Security Info=False " providerName="System.Data.SqlClient"/>
		<add name="LocalSqlServer" connectionString="Data Source=192.168.0.6;Initial Catalog=newfmop;Persist Security Info=True;User ID=sa;Password=forever-2007;Max Pool Size=10000;Connection LifeTime=120;" providerName="System.Data.SqlClient"/>
		<add name="FMOPConn" connectionString="Data Source=192.168.0.6;Initial Catalog=newfmop;Persist Security Info=True;User ID=sa;Password=forever-2007;Max Pool Size=10000;Connection LifeTime=120;" providerName="System.Data.SqlClient"/>
		<add name="FMOPConnectionString1" connectionString="Data Source=192.168.0.6;Initial Catalog=newFMOP;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<httpModules>
			<add name="IPS" type="Safe3.Firewall,Safe3"/>
		</httpModules>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<roleManager enabled="true"/>
		<!-- 附件密码限制设置 -->
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7"  passwordAttemptWindow="10" minRequiredNonalphanumericCharacters="0" />
			</providers>
		</membership>
		<!-- ========================= -->
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
			<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.Desktop.Report, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="Infragistics2.WebUI.Shared.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebGrid.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.Excel.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebGrid.ExcelExport.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Infragistics2.WebUI.UltraWebChart.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics2.WebUI.WebDataInput.v8.1, Version=8.1.20081.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
      
      </assemblies>
      
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
		<authentication mode="Forms"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
 -->
		<customErrors mode="RemoteOnly" defaultRedirect="/err.html">
			<error statusCode="403" redirect="/err.html"/>
			<error statusCode="404" redirect="/err.html"/>
		</customErrors>
		<httpRuntime maxRequestLength="1000000" executionTimeout="2000"/>
		<sessionState mode="StateServer" stateNetworkTimeout="60000"/>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="fmliuyb@fm8844.com">
				<network host="mail.fm8844.com" port="25" userName="fmliuyb" password="fmlyb#123" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	<location allowOverride="true" inheritInChildApplications="true">
		<appSettings>
			<add key="PageSize" value="10"/>
			<add key="worktime" value="9:00:00"/>
			<add key="overtime" value="17:30:00"/>
			<add key="CrystalImageCleaner-AutoStart" value="true"/>
			<add key="CrystalImageCleaner-Sleep" value="60000"/>
			<add key="CrystalImageCleaner-Age" value="120000"/>
			<add key="CallCenterWebService.callCenterWeb" value="http://192.168.100.10:8080/forever/infocenter/callCenterWeb.jws"/>
			<!--
            DLJK_checkFP  检查员工是否已有表单分配并获取分配结果
            DLJK_FP  对表单进行分配
            DLJK_SF  释放表单的分配
            DLJK_SaveRe  保存处理结果
            DLJK_showBD  表单数据显示页面
       -->
			<add key="DLJK_checkFP" value="http://192.168.0.10/Web/PublicPDJK/checkFP.aspx"/>
			<add key="DLJK_FP" value="http://192.168.0.10/Web/PublicPDJK/FP.aspx"/>
			<add key="DLJK_SF" value="http://192.168.0.10/Web/PublicPDJK/SF.aspx"/>
			<add key="DLJK_SaveRe" value="http://192.168.0.10/Web/PublicPDJK/SaveRe.aspx"/>
			<add key="DLJK_showBD" value="http://192.168.0.10/Web/WorkFlow_View_Detail.aspx"/>
			<add key="RtxseverIP" value="192.168.16.41"/>
			<add key="RTXPORT" value="8000"/>
			<add key="RTXMSGtype" value="Tencent.RTX.IM"/>
			<!-- SoaSever 服务器和文件路径设置-->
			<add key="SOAServerAddress" value="192.168.0.10"/>
			<add key="SOAServerPort" value="4357"/>
			<add key="SOARizhiPath" value="../template/DocRiZhi/"/>
			<add key="SOARizhimobanfileName" value="Rizhitem.doc"/>
			<add key="SOAWeeksummaryPath" value="../template/DocWeeksummary/"/>
			<add key="SOAWeeksummarymobanfileName" value="WeekSummary.doc"/>
			<add key="SOAMonsummarypath" value="../template/DocMonsummary/"/>
			<add key="SOAMonsummarymobanfileName" value="MonthSummary.doc"/>
			<add key="SOAquartersummarypath" value="../template/Docquartersummary/"/>
			<add key="SOAquartersummarymobanfileName" value="Docquartersummary.doc"/>
			<add key="SOAYearummarypath" value="../template/DocYearsummary/"/>
			<add key="SOAYearsummarymobanfileName" value="Yearsummary.doc"/>
			<add key="SOAyearPlanePath" value="../template/DocYearPlane/"/>
			<add key="SOAyearPlanemobanfileName" value="YearPlane.xls"/>
			<add key="MeetingRemarkPath" value="../template/MeetingRemark/"/>
			<add key="MeetingRemarkName" value="MeetingRemark.doc"/>
			<add key="SpecialmeetingPlanePath" value="../template/SpecialmeetingPlane/"/>
			<add key="SpecialmeetingPlaneName" value="SpecialmeetingPlane.doc"/>
			<add key="accountfileDocPath" value="../template/accountfileDoc/"/>
			<add key="accountfileDocName" value="accountfileDoc.xlsx"/>
			<add key="AffairsAppDocPath" value="../template/AffairsAppDoc/"/>
			<add key="AffairsAppDocName" value="AffairsAppDoc.xlsx"/>
			<add key="OthercontactDocPath" value="../template/OthercontactDoc/"/>
			<add key="OthercontactDocName" value="OthercontactDoc.xlsx"/>
			<add key="SalecontractDocPath" value="../template/SalecontractDoc/"/>
			<add key="SalecontractDocName" value="SalecontractDoc.xlsx"/>
			<add key="shoukuaninformPath" value="../template/shoukuaninform/"/>
			<add key="shoukuaninformName" value="shoukuaninform.xlsx"/>
			<add key="TimefenpeiDocPath" value="../template/TimefenpeiDoc/"/>
			<add key="TimefenpeiDocName" value="TimefenpeiDoc.xlsx"/>
			<add key="yuancailiaoDocPath" value="../template/yuancailiaoDoc/"/>
			<add key="yuancailiaoDocName" value="yuancailiaoDoc.xlsx"/>
			<add key="kuaijikemuhuizongbiaoPath" value="../template/kuaijikemuhuizongbiao/"/>
			<add key="kuaijikemuhuizongbiaoDocName" value="kuaijikemuhuizongbiao.xlsx"/>
			<add key="CaiwugongxiangDocPath" value="../template/CaiwugongxiangDoc/"/>
			<add key="CaiwugongxiangDocDocName" value="CaiwugongxiangDoc.xlsx"/>
			<add key="ZongCaiMeetingSummaryPath" value="../template/ZongCaiMeetingSummary/"/>
			<add key="ZongCaiMeetingSummaryDocName" value="ZongCaiMeetingSummary.doc"/>
			<add key="SOAdefautPath" value="../template/defaluttemplte/"/>
			<add key="SOAdefautdocfileName" value="default.doc"/>
			<add key="SOAdefautxlsfileName" value="default.xls"/>
			<add key="docSavePath" value="MyDocument/"/>
			<add key="docOpenPath" value="MyDocument/"/>
			<add key="DocExcelsheet" value="Excel.Sheet"/>
			<add key="DocWord" value="Word.Document"/>
			<add key="DocExcelEx" value=".xls"/>
			<add key="DocWordEx" value=".doc"/>
			<!-- 防注入参数-->
			<add key="CustomErrorPage" value="/err.html"/>
			<add key="bf_url" value="http://192.168.0.7/services/mywork/"/>
		</appSettings>
	</location>
	<system.webServer><handlers><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/></handlers><validation validateIntegratedModeConfiguration="false"/></system.webServer>
</configuration>
