<?xml version="1.0"?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <!-- 数据库连接 -->
    <add name="mainsqlserver" connectionString="Data Source=192.168.0.121;Initial Catalog=PFPTkf;Persist Security Info=True;User ID=sa;Password=100zzcom;Min Pool Size=100;Max Pool Size=5000;Connection Lifetime=50;Connect Timeout=60;Workstation ID=xxxx" providerName="System.Data.SqlClient" />

    <!-- IPC接口聚合中心配置 , IPCurl是接口中心地址，ThisAppPoolName是本地应用进程池名（部署时清理进程用的） -->
    <add name="IPCurl" connectionString="http://ipc.ipc.com/fmwscenter.asmx" />
    <add name="ThisAppPoolName" connectionString="Server客户端专用中心" />

    <!-- Redis数据库缓存设置 -->
    <add name="DefaultRedis" connectionString="192.168.10.17|6379"/>
  </connectionStrings>
  <system.web>
    <!-- 需要管理员账户 -->
    <identity impersonate="true" userName="administrator" password="fumei"/>
    <!-- 是否开启调试 -->
    <compilation debug="true" targetFramework="4.0"/>
    <!-- HTML控件呈现的兼容版本 -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
    <runtime>
         <!-- 为应用程序禁用 CAS 发行者策略检查 -->
        <generatePublisherEvidence enabled="false"/>
    </runtime>
</configuration>