<?xml version="1.0"?>
<configuration>

  <!--<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="交易数据监控.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>-->

	<connectionStrings>
		<!-- IPC接口聚合中心配置 , IPCurl是接口中心地址，ThisAppPoolName是本地应用进程池名（部署时清理进程用的） -->
		<add name="IPCurl" connectionString="http://ipc.ipc.com/fmwscenter.asmx"/>
		<add name="ThisAppPoolName" connectionString="交易数据监控"/>
	</connectionStrings>
  
    <!--<applicationSettings>
      
        <交易数据监控.Properties.Settings>
            <setting name="交易数据监控_ceshi2013_fm8844_com_ws2013" serializeAs="String">
                <value>http://192.168.0.26:777/pingtaiservices/ws2013.asmx</value>
            </setting>
            <setting name="交易数据监控_pt2013_fm8844_com_ws2013" serializeAs="String">
                <value>http://pt.fm8844.com/pingtaiservices/ws2013.asmx</value>
            </setting>
        </交易数据监控.Properties.Settings>
    </applicationSettings>-->
  
  
  
  <system.web>
    <httpRuntime executionTimeout="6000"/>
  </system.web>
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
<!--  

  <httpRuntime executionTimeout="600" maxRequestLength="951200" 
   useFullyQualifiedRedirectUrl="true" minFreeThreads="8" 
   minLocalRequestFreeThreads="4" appRequestQueueLimit="100"  enableVersionHeader="true"/> 
   4>来自MSDN解释：
     httpRuntime是配置asp.net http运行时设置，以确定如何处理对asp.net应用程序的请求。
     executionTimeout:表示允许执行请求的最大时间限制，单位为秒
     maxRequestLength：指示 ASP.NET 支持的最大文件上载大小。该限制可用于防止因用户将大量文件传递到该服务器而导致的拒绝服务攻击。指定的大小以 KB 为单位。默认值为 4096 KB (4 MB)。
     useFullyQualifiedRedirectUrl：表示指示客户端重定向是否是完全限定的（采用 "http://server/path" 格式，这是某些移动控件所必需的），或者指示是否代之以将相对重定向发送到客户端。如果为 True，则所有不是完全限定的重定向都将自动转换为完全限定的格式。false 是默认选项。
     minFreeThreads：表示指定允许执行新请求的自由线程的最小数目。ASP.NET 为要求附加线程来完成其处理的请求而使指定数目的线程保持自由状态。默认值为 8。
    minLocalRequestFreeThreads：表示ASP.NET 保持的允许执行新本地请求的自由线程的最小数目。该线程数目是为从本地主机传入的请求而保留的，以防某些请求在其处理期间发出对本地主机的子请求。这避免了可能的因递归重新进入 Web 服务器而导致的死锁。
    appRequestQueueLimit：表示ASP.NET 将为应用程序排队的请求的最大数目。当没有足够的自由线程来处理请求时，将对请求进行排队。当队列超出了该设置中指定的限制时，将通过“503 - 服务器太忙”错误信息拒绝传入的请求。
    enableVersionHeader：表示指定 ASP.NET 是否应输出版本标头。Microsoft Visual Studio 2005 使用该属性来确定当前使用的 ASP.NET 版本。对于生产环境，该属性不是必需的，可以禁用。
-->
