<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="关系数据">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="关系唯一标示" type="xs:string" minOccurs="0" />
                <xs:element name="调用方识别标记" type="xs:string" minOccurs="0" />
                <xs:element name="是否开启日志" type="xs:int" minOccurs="0" />
                <xs:element name="业务名称" type="xs:string" minOccurs="0" />
                <xs:element name="操作特点" type="xs:int" minOccurs="0" />
                <xs:element name="调用方式" type="xs:int" minOccurs="0" />
                <xs:element name="接口域名" type="xs:string" minOccurs="0" />
                <xs:element name="接口地址" type="xs:string" minOccurs="0" />
                <xs:element name="方法名" type="xs:string" minOccurs="0" />
                <xs:element name="返回值类型" type="xs:string" minOccurs="0" />
                <xs:element name="参数类型" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <关系数据>
    <关系唯一标示>119b6247-7b50-47dc-867d-eada67ba3f05</关系唯一标示>
    <调用方识别标记>交易数据监控</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>执行超期未缴纳履约保证金监控</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>serverWJNLYBZJJK_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{cs}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>1b4ab175-e5dc-41d8-bf3f-b2fcc1fe78b0</关系唯一标示>
    <调用方识别标记>交易数据监控</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>中标监控_x0028_三个月一年_x0029_</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>serverZBJK_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{cs}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>3fe33655-e8b6-477c-ae59-f7adf8782386</关系唯一标示>
    <调用方识别标记>交易数据监控</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>监控正常</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>SupervisoryControlNormal_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dataTable}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>50650443-b82e-4154-8b43-621b23040914</关系唯一标示>
    <调用方识别标记>交易数据监控</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>即时交易监控</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>serverZBJK_JSJY_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{cs}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>5c6a2ed6-9295-4fb4-96f0-75692fe4388e</关系唯一标示>
    <调用方识别标记>交易数据监控</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>延迟发票监控</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>serverRunFPYC_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{cs}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>6634157b-4851-4ac5-94a3-d802bea98112</关系唯一标示>
    <调用方识别标记>交易数据监控</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>预订单过期</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>serverGQJK_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{cs}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>674950d6-897d-40da-8267-f1fa1aeb1a18</关系唯一标示>
    <调用方识别标记>交易数据监控</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>计算履约保证金不足的合同</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>serverRunLYBZJbuzu_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{cs}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>7275b2f5-e636-4a76-9cad-89578cdcc146</关系唯一标示>
    <调用方识别标记>交易数据监控</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>执行合同到期处理监控</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>ServerHTQMJK_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{cs}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>76119001-ad47-4c55-bfd0-521e9ca9d34b</关系唯一标示>
    <调用方识别标记>交易数据监控</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>计算经纪人收益扣税</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>ServerMYJJRKS_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{cs}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>8dbb15e5-2cb9-407d-b9f6-9e9f37079230</关系唯一标示>
    <调用方识别标记>交易数据监控</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>成交处理</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>RunCJGZ_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dtRun}★String{sp}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>cc392416-f7d9-4896-8448-0ded4e7adf50</关系唯一标示>
    <调用方识别标记>交易数据监控</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>监控异常</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>SupervisoryControlAbnormal_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dataTable}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>d6510704-93ba-44da-8659-f15816fb58a9</关系唯一标示>
    <调用方识别标记>交易数据监控</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>提醒后自动签收</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>serverRunZDQS_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{cs}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>d9e06a85-6a31-46d0-b254-ffc5f2629b07</关系唯一标示>
    <调用方识别标记>交易数据监控</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>延迟发货监控</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>serverRunFHYC_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{cs}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>e82cd795-baf4-4316-980d-79026d7b4b85</关系唯一标示>
    <调用方识别标记>交易数据监控</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>即时延迟发货</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>serverRunFHYC_onlyJSJY_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{cs}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>eb4063c1-90ed-4d20-a060-7815b030fe41</关系唯一标示>
    <调用方识别标记>交易数据监控</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>重新生成大盘监控</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>CreatNewDapanList_Group_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{cs}★</参数类型>
  </关系数据>
</NewDataSet>