body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../后台管理框架_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:3px;
    top:112px;
    width:210px;
    height:698px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:704px;
}

.u1 {
    position:absolute;
    left:2px;
    top:341px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../后台管理框架_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:5px;
    top:115px;
    width:203px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:209px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:7px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../后台管理框架_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:214px;
    top:112px;
    width:1171px;
    height:31px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1177px;
    height:37px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:1167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:63px;
    top:252px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../后台管理框架_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:5px;
    top:36px;
    width:1380px;
    height:70px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1386px;
    height:76px;
}

.u8 {
    position:absolute;
    left:2px;
    top:27px;
    width:1376px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:32px;
    top:63px;
    width:488px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:790px;
    top:77px;
    width:218px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:972px;
    top:77px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:230px;
    top:120px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:200px;
    top:219px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:203px;
    top:175px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:363px;
    top:170px;
    width:147px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:286px;
    top:260px;
    width:124px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

