<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="关系数据">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="关系唯一标示" type="xs:string" minOccurs="0" />
                <xs:element name="调用方识别标记" type="xs:string" minOccurs="0" />
                <xs:element name="是否开启日志" type="xs:int" minOccurs="0" />
                <xs:element name="业务名称" type="xs:string" minOccurs="0" />
                <xs:element name="操作特点" type="xs:int" minOccurs="0" />
                <xs:element name="调用方式" type="xs:int" minOccurs="0" />
                <xs:element name="接口域名" type="xs:string" minOccurs="0" />
                <xs:element name="接口地址" type="xs:string" minOccurs="0" />
                <xs:element name="方法名" type="xs:string" minOccurs="0" />
                <xs:element name="返回值类型" type="xs:string" minOccurs="0" />
                <xs:element name="参数类型" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <关系数据>
    <关系唯一标示>07bc6526-f2ee-40a1-b290-ad0ee613c44d</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C投标资料审核表相关信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetTBZLSHinfo</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{number}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>099be15a-af22-4fad-86cc-247b98862d36</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C临时自选商品表</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>ZXSPtemp</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{DLYX}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>0df9639c-4b9c-4fdb-b669-cdf99891530e</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C交易账户签订承诺书</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>JYZHQDCNS</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>1255dd27-9288-4aed-89aa-3c86538f88b5</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C获取买卖家信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetMMJData</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>145a6886-a363-4bab-aac5-9fc3a6368f82</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C商品分类</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetSPFL</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{cs}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>161b8c72-fdd1-4609-b2d5-cffbad6e4d80</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C例子测试</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>demoxxx</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>string|string|string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>16c1ecb2-7a39-4976-b22b-e6a978733984</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C修改证券资金密码</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>RunZQZJMMChange</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>22dff83e-b1ac-4357-99e4-3056c90483fa</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C对方确认</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>DWConfirm</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>23d27458-afb6-4601-b1da-eda4e666e0c1</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C区资金项目性质</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capiGetPager.asmx</接口地址>
    <方法名>GetZJCXinfo</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{index}★String{type}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>269bcf41-014e-4911-81b3-575256c87d9a</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C选择经纪人</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>ChooseJJR</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>30f6936d-14e3-43b3-a5da-05e12eb62892</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C交易账户审核数据信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetJYZHSHData</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dtInfor}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>3515fc04-696d-48d5-ac81-b7697f6aa826</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C异常投标单详情</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>CXTBDYCZZ</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>367f2876-380c-4968-9a44-5b99fd1e471e</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C得到投标单的信息HT</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>Get_TBDData</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>3954f139-d8f7-4168-8cf9-10afe2a0af85</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C提交修改开票信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>CommitKPXX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>3abaefc6-cacd-4eaf-90b8-31a0c7a83950</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C删除银行员工信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>DeleteYHYHInfor</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>3cbc772a-8bcd-4b0e-b043-ba7022dfc6a8</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C区统计数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetTongJi</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{dlyx}★String{type}★string{SPstring}</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>3d459601-6598-4ae2-87c6-a25db193e9ac</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C大盘底部统计</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>indexTJSJ</方法名>
    <返回值类型>String[][]</返回值类型>
    <参数类型>String{kong}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>3e55ddad-4535-453e-801b-4707dad9f42d</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C发货单详情</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>CKFHD</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{FHDBH}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>3f28f5b1-4b33-4b68-a3fa-0d237fe99d23</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C下达预订单草稿</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>SetYDDCG</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataSet{ds}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>40d95634-de7e-4d4c-92dd-5c01b07f68d1</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C暂停恢复新用户审核初始状态</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>ZTHFXYHSHCSZT</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>492ea927-44c1-4d9e-aea3-ded1d487782c</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C问题与处理</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>WTYCL</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataSet{ds}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>4a34c092-77e3-4db0-af2e-6f6970cc7055</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C用户注册</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>UserRegister</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{uid}★String{uname}★String{pwd}★String{yzm}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>4d1760b2-ef31-42dd-8f71-bca35e3457b1</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C变更修改开票信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>ChangeKPXX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>4e855443-7f2a-4f35-94dc-9935934d53cd</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C当前交易账户状态</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetJYZHDQZT</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>52a1cb3b-1f80-4f9c-98a5-bedcd3cc1baa</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C操作自选商品</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>ZXSPedit</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>String{DLYX}★String{SPBH}★String{edit}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>53423791-b5f9-4223-80d7-9c7ed552b28c</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C券商端发起-变更银行账户</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>SRequest_UpdateBankAccount</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>56b299fc-b1db-4419-bb43-4ad1df80aa53</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C经纪人通过买卖家</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>JJRPassMMJ</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>57f13a70-7404-4642-bfcc-6b688db5a7ee</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C获取清盘数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetQBInfo</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{ht}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>5894442c-138a-40f1-9d79-891c0f17697c</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C账户激活</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>AccountID</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{dlyx}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>59e75fa5-2ce9-45fb-9896-881cb70cc0fe</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C初始化数据</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetPublisDsData_YS</方法名>
    <返回值类型>Byte[]</返回值类型>
    <参数类型>String{kong}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>5a35ebf7-7fd3-442e-b8c5-80b5d8560c8c</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C资金转账</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>TransferAccounts</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>5d7329da-a25f-4938-8bcd-fbfd871c5643</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C用户上传证明文件</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>DWControversial</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>6b803d61-998c-4d74-b478-8aaf7ba6090f</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C投标单修改</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>TBD_XG</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{Number}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>70e53e33-fe2a-4a98-8d1c-f4c54cf7438b</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C获得成交信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>cjxx</方法名>
    <返回值类型>Byte[]</返回值类型>
    <参数类型>String{kong}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>72329f1a-a93d-4d3a-8d74-addc107aa5ca</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C已审核买卖家信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetMMJJYZHData</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dtInfor}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>73c2e38e-a740-45cf-93ec-04dc4908a10f</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C证书获取经纪人信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetJJRInfoByZSBH</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{zsbh}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>79989f4b-dc8c-4e73-9c3d-240e77e441aa</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C查询问题与处理</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>Getyiwaiinfo</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{ds}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>80844583-f1f4-4b28-b5ce-c31fa4adaec4</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C获取大盘</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetIndexDB</方法名>
    <返回值类型>Byte[]</返回值类型>
    <参数类型>String{sp}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>85a81da6-a0c4-421c-ae41-66188358a200</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C开通交易账户</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>SubmitAccount</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>85aaec07-7846-4bd5-912f-57aeb77d46c9</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C关联经纪人平台管理结构</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetGLJJRGLJG</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{DLYX}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>866dc06c-41e9-4dff-97d5-fc0028409fb5</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C下达提货单</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>SaveTHD</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataSet{ds}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>879bdc6f-6ae8-4333-bb59-b98b5929347f</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C加载开票信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetKPXX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{dlyx}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>8c36cb80-7cd5-4c19-a8fd-fb892c48c94e</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C休眠激活</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>AccountWakeUp</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>8f80a9d7-7cd6-4607-9456-0a58e9d21fa4</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C录入发票信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>LRFPXX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataSet{ds}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>920fce73-f829-43cc-93ff-2a5619a5236e</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C基础验证</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>BasicValidation</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{dlyx}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>9284d5ac-e83e-4d61-8909-3dd6727a84cf</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C发布投标单</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>SetTBD</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataSet{ds}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>94de9e01-0aba-42ca-96dc-1e9cdbe2d79d</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C测试</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>demotest</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{test}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>99a38e6b-06ac-40b6-9d6f-5928f1065547</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C录入发货信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>LRFHXX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataSet{ds}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>a0bb1feb-ec59-4214-8bfa-7e1792b562e3</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C检查右下角提醒</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>CheckFormTrayMsg</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{dlyx}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>a23b1aca-d732-4b45-99f2-394d9f69e6a6</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C用户修改密码</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>PsdChange</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>a2a3cf79-2677-44ed-b299-bc816268ca11</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C清盘C区定标保证函详细信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>TBDYDDbzh_GetCGinfo</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{number}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>a6987a3a-4879-4287-9884-4186d8030d72</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C生成发货单</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>SCFHD</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataSet{ds}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>aa84bcd7-22be-4f84-8185-0b0e826dd117</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C获得商品详情页面</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>SelectSPXQ</方法名>
    <返回值类型>Byte[]</返回值类型>
    <参数类型>String{spbh}★String{htqx}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>ac4a407b-e898-4c5d-8017-cd4b152f4f88</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C获取经纪人资格证书</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetJJRZGZS</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>ad5ec341-81f0-4c4d-859d-dfcd4ab8a293</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C测试接口存活</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>onlinetest</方法名>
    <返回值类型>String</返回值类型>
    <参数类型>String{temp}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>ae13fe74-ef0f-4e81-a450-7839d87077d0</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C买卖家账户信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetMMJZHData</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>af03e9b1-2eae-416e-b30c-98842d027757</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C修改交易账户</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>UpdateAccount</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>b16eb304-bccb-443b-a5fb-15c481b615f9</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C返回撤销的预订单原始信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>YDD_XG</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{Number}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>b2f63cb4-d8ac-469c-8e96-1066950b9f98</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C获得一级分类</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>dsfl</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{kong}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>b325df4c-f32e-4313-8a07-47c2900d1fd9</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C暂停恢复新用户审核</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>ZTHFXYHSH</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>b37836da-67ca-452c-b8e3-d6da28d96ab0</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C下达预订单</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>SetYDD</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataSet{ds}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>b54a1f20-e2a9-46fc-8836-947e7f3ab746</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C更换邮箱</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>UserChangeRegister</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{number}★String{uid}★String{uname}★String{pwd}★String{yzm}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>b9438618-3493-4a61-8263-272c47552e47</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C提货单详情</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>CKTHD</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{THDBH}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>bfe23bee-134d-435e-ac07-81386ad72fe0</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C判断是否签订承诺书</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>JudgeSFQDCNS</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>c156d896-be8d-4082-be89-19a558199e0d</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C当前经纪人状态</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>checkJJRzt</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{dlyx}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>c2736452-20c2-4bd7-bd65-6734d450e5ef</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C清盘C区获取中标定标表的信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>DBZBXXinfoget</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{number}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>c4691da7-c254-4bf9-ae8f-385ceafab26d</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C再次发送验证码</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>reSendValNum</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{dlyx}★String{valNum}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>c807a8bd-4a90-4b79-bc21-91e8b48286df</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C最大可转金额</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>MaxZZJE</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>c9b74886-d91a-4ff3-a1d7-5d34befd16dd</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C忘记密码修改密码</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>ChangePassword</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String|String|String|String|String|String</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>cab52902-88e3-45a4-949a-e12eccaa6bfb</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C下达投标单草稿</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>SetTBDCG</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataSet{ds}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>cd47e061-bf2c-4644-b10c-0c0dd858134c</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C得到预订单的信息HT</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>Get_YDDData</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>d08e445a-1d1c-4a2a-b303-57b3639f39af</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C货物签收</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>Jhjx_hwqs</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{ds}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>d94a6b73-51bd-46ed-9eca-a047f68852a1</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>导出统一接口</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capiGetPager.asmx</接口地址>
    <方法名>Export</方法名>
    <返回值类型>Byte[]</返回值类型>
    <参数类型>String{methodname}★String[][]{tiaojian}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>da5fa6e7-705e-4a69-b06f-b7bcd493a925</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C经纪人账户信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetJJRZHData</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>dc0bbc16-08cd-4e17-b370-9e60bdb67844</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C获取中标定标信息表上传文件的信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetSHWJinfo</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{number}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>dcf0f9e6-e45f-492d-a6dc-719d72a68966</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C撤销预订单</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>Ydd_CX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{Number}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>de5fed51-cc03-4c66-b1d4-212eaf5343f1</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C获取买家最近一次发票信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetTHDFP</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{DLYX}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>df4b0814-050c-491e-9ed0-0f33fdd8f943</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C获得二级分类</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>dsfl_erji</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{SortParentID}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>e079c824-d5db-4483-85b5-c4ea87e7cc23</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C登录账户验证</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>checkLoginIn</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{user}★String{pass}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>e15eaa77-3edc-4e35-b718-56af9f5357b0</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C忘记密码验证码</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>SendValNumber</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{user}★String{typeToSet}★String{RandomNumber}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>e2e2e7af-46aa-4890-b10f-fa9f8312c416</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C获取预订单草稿信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetYDDcaogaoinfo</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{Number}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>e378b646-79aa-4d61-b790-0943ed662c7c</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C获取更换经纪人信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetSiftJJRData</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>e395ea65-4cce-4809-b40d-df15edc9832e</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C投标单撤销</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>TBD_CX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{Number}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>e4f915d6-c00d-443c-bcb1-e61eebbb78b4</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C经纪人驳回买卖家</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>JJRRejectMMJ</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>e5a1afd0-2616-4a11-9fe8-bb8d5b8a4f2f</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C异常投标单修改</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>UpdateTBDYCZZ</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataSet{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>e6d090ca-581c-448a-989b-c0e76808d151</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C是否已提请买家签收</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>IsHavedQS</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{number}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>e82f015e-a32c-400b-809e-55a9363d8c4f</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>分页统一接口</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capiGetPager.asmx</接口地址>
    <方法名>GetPageData</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{methodname}★String[]{page}★String[][]{tiaojian}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>ea6f3287-184e-490f-af1c-b79070429604</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C用户基本信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>GetNewUserState</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>eec65a41-34de-41ff-a770-a216d71850de</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C暂停恢复用户的新业务</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>ZTHFYHXYW</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>f3014432-13ed-476c-bf3b-eda9c7110478</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>定标</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>chengjiao.ipc.com</接口域名>
    <接口地址>chengjiao.asmx</接口地址>
    <方法名>Jhjx_DB_CJCLZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{dt}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>f80f7acb-b40a-4d21-93d3-9b74b8d155c6</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C身份证号重复检验</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>JudgeSFZHXX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{strZHLX}★String{strSFZH}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>fba856d7-fb02-4161-a674-80eeb01ecca3</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C定标</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>Jhjx_db</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataTable{ht}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>fe3ed787-1e05-424c-b473-47c72a2f3253</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C提请买家签收</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>InsertSQL</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataSet{ds}★String{SPstring}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>fe4474ab-22dc-47d8-b342-224c8f23135e</关系唯一标示>
    <调用方识别标记>模拟版客户端</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>C获取投标单草稿信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>capi.fm8844.com</接口域名>
    <接口地址>capi.asmx</接口地址>
    <方法名>TBD_GetCGinfo</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{Number}★String{SPstring}★</参数类型>
  </关系数据>
</NewDataSet>