<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="关系数据">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="关系唯一标示" type="xs:string" minOccurs="0" />
                <xs:element name="调用方识别标记" type="xs:string" minOccurs="0" />
                <xs:element name="是否开启日志" type="xs:int" minOccurs="0" />
                <xs:element name="业务名称" type="xs:string" minOccurs="0" />
                <xs:element name="操作特点" type="xs:int" minOccurs="0" />
                <xs:element name="调用方式" type="xs:int" minOccurs="0" />
                <xs:element name="接口域名" type="xs:string" minOccurs="0" />
                <xs:element name="接口地址" type="xs:string" minOccurs="0" />
                <xs:element name="方法名" type="xs:string" minOccurs="0" />
                <xs:element name="返回值类型" type="xs:string" minOccurs="0" />
                <xs:element name="参数类型" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <关系数据>
    <关系唯一标示>0ddbea9e-21bb-41ef-bba2-65b5ce8e6332</关系唯一标示>
    <调用方识别标记>Server成交履约中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>用户基本信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>user.ipc.com</接口域名>
    <接口地址>user.asmx</接口地址>
    <方法名>GetUserInfo_YHKZZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>1e7eaf17-f3c6-465c-8346-0795cd6da44d</关系唯一标示>
    <调用方识别标记>Server成交履约中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>登录密码修改</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>user.ipc.com</接口域名>
    <接口地址>user.asmx</接口地址>
    <方法名>NPsdChange_YHKZZX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{dlyx}★String{xmm}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>4ddcb2d5-087a-44e2-ae96-b1f23ca93e36</关系唯一标示>
    <调用方识别标记>Server成交履约中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>发送提醒</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>system.ipc.com</接口域名>
    <接口地址>system.asmx</接口地址>
    <方法名>Sendmes_XTKZ</方法名>
    <返回值类型>string</返回值类型>
    <参数类型>DataSet</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>5e228969-f21f-4b21-b0c6-1d1a683a30d7</关系唯一标示>
    <调用方识别标记>Server成交履约中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>定义分页参数</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>analysis.ipc.com</接口域名>
    <接口地址>pagerdemo.asmx</接口地址>
    <方法名>SetPagerInit</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>string[]</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>61bbb5a9-47c5-46d9-9da0-ae1b235c4046</关系唯一标示>
    <调用方识别标记>Server成交履约中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>履约保证金是否不足比率</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>other.ipc.com</接口域名>
    <接口地址>other.asmx</接口地址>
    <方法名>BZJSFBZBL_FZYWZX</方法名>
    <返回值类型>string</返回值类型>
    <参数类型>string|string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>98328035-dc7e-4742-adf0-4000bd4c5100</关系唯一标示>
    <调用方识别标记>Server成交履约中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>分页数据获取</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>analysis.ipc.com</接口域名>
    <接口地址>pagerdemo.asmx</接口地址>
    <方法名>GetPagerDB</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataSet</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>c0eac161-3e3d-43a6-a42e-b82d635dd772</关系唯一标示>
    <调用方识别标记>Server成交履约中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取主键</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>system.ipc.com</接口域名>
    <接口地址>system.asmx</接口地址>
    <方法名>GetNextNumberZZ_XTKZ</方法名>
    <返回值类型>string</返回值类型>
    <参数类型>string|string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>c27f9d83-f23a-49e0-8ba1-00fe6610c85e</关系唯一标示>
    <调用方识别标记>Server成交履约中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>账户当前可用余额</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>user.ipc.com</接口域名>
    <接口地址>user.asmx</接口地址>
    <方法名>GetZHKYYE_YHKZZX</方法名>
    <返回值类型>string</返回值类型>
    <参数类型>string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>e0a91d53-562d-4efd-9d8c-9b1d3860b9b5</关系唯一标示>
    <调用方识别标记>Server成交履约中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>信用等级积分处理</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>user.ipc.com</接口域名>
    <接口地址>user.asmx</接口地址>
    <方法名>userXYJF</方法名>
    <返回值类型>Boolean</返回值类型>
    <参数类型>String{ywname}★DataTable{dt}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>e1933d68-2bfe-4cf5-8b19-fc2053ca97ad</关系唯一标示>
    <调用方识别标记>Server成交履约中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>平台动态参数</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>system.ipc.com</接口域名>
    <接口地址>system.asmx</接口地址>
    <方法名>GetParameterInfo_XTKZ</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>string</参数类型>
  </关系数据>
</NewDataSet>