body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../商转银—出金操作流程_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:130px;
    top:178px;
    width:125px;
    height:72px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:78px;
}

.u1 {
    position:absolute;
    left:2px;
    top:20px;
    width:121px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../商转银—出金操作流程_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:75px;
    top:110px;
    width:254px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:260px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:7px;
    width:250px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:670px;
    top:120px;
    width:210px;
    height:240px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../商转银—出金操作流程_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:63px;
    top:540px;
    width:266px;
    height:40px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:46px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:262px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../商转银—出金操作流程_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:124px;
    top:621px;
    width:131px;
    height:59px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:65px;
}

.u8 {
    position:absolute;
    left:2px;
    top:22px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../商转银—出金操作流程_files/u5_normal.png');
}

.u9_container {
    position:absolute;
    left:63px;
    top:730px;
    width:266px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:46px;
}

.u10 {
    position:absolute;
    left:2px;
    top:12px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../商转银—出金操作流程_files/u7_normal.png');
}

.u11_container {
    position:absolute;
    left:124px;
    top:822px;
    width:131px;
    height:59px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:65px;
}

.u12 {
    position:absolute;
    left:2px;
    top:22px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13c0 {
    background-image: url('../商转银—出金操作流程_files/u13c0.png');
}

.u13c0 {
    position:absolute;
    left:192px;
    top:136px;
    width:20px;
    height:42px;
}

.u13c1 {
    background-image: url('../商转银—出金操作流程_files/u13c1.png');
}

.u13c1 {
    position:absolute;
    left:182px;
    top:158px;
    width:30px;
    height:20px;
}

.u13c2 {
    background-image: url('../商转银—出金操作流程_files/u13c2.png');
}

.u13c2 {
    position:absolute;
    left:182px;
    top:158px;
    width:20px;
    height:24px;
}

.u14 {
    position:absolute;
    left:-50px;
    top:16px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15c0 {
    background-image: url('../商转银—出金操作流程_files/u15c0.png');
}

.u15c0 {
    position:absolute;
    left:251px;
    top:204px;
    width:117px;
    height:20px;
}

.u16 {
    position:absolute;
    left:2px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17c0 {
    background-image: url('../商转银—出金操作流程_files/u17c0.png');
}

.u17c0 {
    position:absolute;
    left:186px;
    top:576px;
    width:20px;
    height:45px;
}

.u17c1 {
    background-image: url('../商转银—出金操作流程_files/u17c1.png');
}

.u17c1 {
    position:absolute;
    left:180px;
    top:601px;
    width:26px;
    height:20px;
}

.u17c2 {
    background-image: url('../商转银—出金操作流程_files/u17c2.png');
}

.u17c2 {
    position:absolute;
    left:180px;
    top:601px;
    width:20px;
    height:24px;
}

.u18 {
    position:absolute;
    left:-50px;
    top:16px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19c0 {
    background-image: url('../商转银—出金操作流程_files/u19c0.png');
}

.u19c0 {
    position:absolute;
    left:180px;
    top:676px;
    width:20px;
    height:54px;
}

.u19c1 {
    background-image: url('../商转银—出金操作流程_files/u19c1.png');
}

.u19c1 {
    position:absolute;
    left:180px;
    top:710px;
    width:26px;
    height:20px;
}

.u19c2 {
    background-image: url('../商转银—出金操作流程_files/u19c2.png');
}

.u19c2 {
    position:absolute;
    left:186px;
    top:710px;
    width:20px;
    height:24px;
}

.u20 {
    position:absolute;
    left:-50px;
    top:20px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21c0 {
    background-image: url('../商转银—出金操作流程_files/u21c0.png');
}

.u21c0 {
    position:absolute;
    left:251px;
    top:640px;
    width:69px;
    height:20px;
}

.u22 {
    position:absolute;
    left:-22px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23c0 {
    background-image: url('../商转银—出金操作流程_files/u23c0.png');
}

.u23c0 {
    position:absolute;
    left:186px;
    top:766px;
    width:20px;
    height:56px;
}

.u23c1 {
    background-image: url('../商转银—出金操作流程_files/u23c1.png');
}

.u23c1 {
    position:absolute;
    left:180px;
    top:802px;
    width:26px;
    height:20px;
}

.u23c2 {
    background-image: url('../商转银—出金操作流程_files/u23c2.png');
}

.u23c2 {
    position:absolute;
    left:180px;
    top:802px;
    width:20px;
    height:24px;
}

.u24 {
    position:absolute;
    left:-50px;
    top:21px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:320px;
    top:822px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../商转银—出金操作流程_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:340px;
    top:350px;
    width:280px;
    height:26px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:32px;
}

.u27 {
    position:absolute;
    left:2px;
    top:5px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../商转银—出金操作流程_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:310px;
    top:638px;
    width:190px;
    height:25px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:31px;
}

.u29 {
    position:absolute;
    left:2px;
    top:4px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../商转银—出金操作流程_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:30px;
    top:956px;
    width:180px;
    height:34px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:40px;
}

.u31 {
    position:absolute;
    left:2px;
    top:9px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../商转银—出金操作流程_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:370px;
    top:838px;
    width:267px;
    height:34px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:273px;
    height:40px;
}

.u33 {
    position:absolute;
    left:2px;
    top:1px;
    width:263px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34c0 {
    background-image: url('../商转银—出金操作流程_files/u34c0.png');
}

.u34c0 {
    position:absolute;
    left:180px;
    top:877px;
    width:20px;
    height:79px;
}

.u34c1 {
    background-image: url('../商转银—出金操作流程_files/u34c1.png');
}

.u34c1 {
    position:absolute;
    left:110px;
    top:936px;
    width:90px;
    height:20px;
}

.u34c2 {
    background-image: url('../商转银—出金操作流程_files/u34c2.png');
}

.u34c2 {
    position:absolute;
    left:110px;
    top:936px;
    width:20px;
    height:24px;
}

.u35 {
    position:absolute;
    left:-58px;
    top:57px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36c0 {
    background-image: url('../商转银—出金操作流程_files/u36c0.png');
}

.u36c0 {
    position:absolute;
    left:251px;
    top:842px;
    width:119px;
    height:20px;
}

.u36c1 {
    background-image: url('../商转银—出金操作流程_files/u36c1.png');
}

.u36c1 {
    position:absolute;
    left:350px;
    top:842px;
    width:20px;
    height:23px;
}

.u36c2 {
    background-image: url('../商转银—出金操作流程_files/u36c2.png');
}

.u36c2 {
    position:absolute;
    left:350px;
    top:845px;
    width:24px;
    height:20px;
}

.u37 {
    position:absolute;
    left:9px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38c0 {
    background-image: url('../商转银—出金操作流程_files/u38c0.png');
}

.u38c0 {
    position:absolute;
    left:251px;
    top:842px;
    width:89px;
    height:20px;
}

.u38c1 {
    background-image: url('../商转银—出金操作流程_files/u38c1.png');
}

.u38c1 {
    position:absolute;
    left:320px;
    top:842px;
    width:20px;
    height:123px;
}

.u38c2 {
    background-image: url('../商转银—出金操作流程_files/u38c2.png');
}

.u38c2 {
    position:absolute;
    left:320px;
    top:945px;
    width:24px;
    height:20px;
}

.u39 {
    position:absolute;
    left:25px;
    top:11px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../商转银—出金操作流程_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:340px;
    top:920px;
    width:297px;
    height:70px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:303px;
    height:76px;
}

.u41 {
    position:absolute;
    left:2px;
    top:11px;
    width:293px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:63px;
    top:30px;
    width:488px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../商转银—出金操作流程_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:116px;
    top:277px;
    width:164px;
    height:99px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:170px;
    height:105px;
}

.u44 {
    position:absolute;
    left:2px;
    top:34px;
    width:160px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../商转银—出金操作流程_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:112px;
    top:408px;
    width:168px;
    height:92px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:174px;
    height:98px;
}

.u46 {
    position:absolute;
    left:2px;
    top:22px;
    width:164px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:890px;
    top:120px;
    width:490px;
    height:260px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../商转银—出金操作流程_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:358px;
    top:197px;
    width:82px;
    height:34px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:40px;
}

.u49 {
    position:absolute;
    left:2px;
    top:9px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50c0 {
    background-image: url('../商转银—出金操作流程_files/u50c0.png');
}

.u50c0 {
    position:absolute;
    left:182px;
    top:246px;
    width:20px;
    height:31px;
}

.u50c1 {
    background-image: url('../商转银—出金操作流程_files/u50c1.png');
}

.u50c1 {
    position:absolute;
    left:182px;
    top:257px;
    width:26px;
    height:20px;
}

.u50c2 {
    background-image: url('../商转银—出金操作流程_files/u50c2.png');
}

.u50c2 {
    position:absolute;
    left:188px;
    top:257px;
    width:20px;
    height:24px;
}

.u51 {
    position:absolute;
    left:-50px;
    top:8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52c0 {
    background-image: url('../商转银—出金操作流程_files/u52c0.png');
}

.u52c0 {
    position:absolute;
    left:276px;
    top:316px;
    width:64px;
    height:20px;
}

.u52c1 {
    background-image: url('../商转银—出金操作流程_files/u52c1.png');
}

.u52c1 {
    position:absolute;
    left:320px;
    top:316px;
    width:20px;
    height:57px;
}

.u52c2 {
    background-image: url('../商转银—出金操作流程_files/u52c2.png');
}

.u52c2 {
    position:absolute;
    left:320px;
    top:353px;
    width:24px;
    height:20px;
}

.u53 {
    position:absolute;
    left:-2px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54c0 {
    background-image: url('../商转银—出金操作流程_files/u54c0.png');
}

.u54c0 {
    position:absolute;
    left:188px;
    top:372px;
    width:20px;
    height:36px;
}

.u54c1 {
    background-image: url('../商转银—出金操作流程_files/u54c1.png');
}

.u54c1 {
    position:absolute;
    left:186px;
    top:388px;
    width:22px;
    height:20px;
}

.u54c2 {
    background-image: url('../商转银—出金操作流程_files/u54c2.png');
}

.u54c2 {
    position:absolute;
    left:186px;
    top:388px;
    width:20px;
    height:24px;
}

.u55 {
    position:absolute;
    left:-50px;
    top:9px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../商转银—出金操作流程_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:358px;
    top:440px;
    width:222px;
    height:22px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:28px;
}

.u57 {
    position:absolute;
    left:2px;
    top:3px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58c0 {
    background-image: url('../商转银—出金操作流程_files/u58c0.png');
}

.u58c0 {
    position:absolute;
    left:276px;
    top:444px;
    width:82px;
    height:20px;
}

.u58c1 {
    background-image: url('../商转银—出金操作流程_files/u58c1.png');
}

.u58c1 {
    position:absolute;
    left:338px;
    top:441px;
    width:20px;
    height:23px;
}

.u58c2 {
    background-image: url('../商转银—出金操作流程_files/u58c2.png');
}

.u58c2 {
    position:absolute;
    left:338px;
    top:441px;
    width:24px;
    height:20px;
}

.u59 {
    position:absolute;
    left:-10px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60c0 {
    background-image: url('../商转银—出金操作流程_files/u60c0.png');
}

.u60c0 {
    position:absolute;
    left:186px;
    top:496px;
    width:20px;
    height:54px;
}

.u61 {
    position:absolute;
    left:-50px;
    top:12px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

