* html .u1_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="变更银行账户（浦发）_files/u1_normal.png");
}

* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="变更银行账户（浦发）_files/u3_normal.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="变更银行账户（浦发）_files/u5_normal.png");
}

* html .u7c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="变更银行账户（浦发）_files/u7c0.png");
}

* html .u7c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="变更银行账户（浦发）_files/u7c1.png");
}

* html .u7c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="变更银行账户（浦发）_files/u7c2.png");
}

* html .u9c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="变更银行账户（浦发）_files/u9c0.png");
}

* html .u9c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="变更银行账户（浦发）_files/u9c1.png");
}

* html .u11_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="变更银行账户（浦发）_files/u11_normal.png");
}

* html .u13c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="变更银行账户（浦发）_files/u13c0.png");
}

