body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:10px;
    top:41px;
    width:804px;
    height:1334px
}

.u1_normal {
    background-image: url('../交易_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:46px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:52px;
}

.u2 {
    position:absolute;
    left:2px;
    top:14px;
    width:236px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../交易_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:240px;
    top:0px;
    width:320px;
    height:46px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:52px;
}

.u4 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../交易_files/u1_normal.png');
}

.u5_container {
    position:absolute;
    left:560px;
    top:0px;
    width:240px;
    height:46px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:52px;
}

.u6 {
    position:absolute;
    left:2px;
    top:14px;
    width:236px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../交易_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:46px;
    width:240px;
    height:1283px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:1289px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../交易_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:240px;
    top:46px;
    width:320px;
    height:1283px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:1289px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../交易_files/u7_normal.png');
}

.u11_container {
    position:absolute;
    left:560px;
    top:46px;
    width:240px;
    height:1283px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:1289px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../交易方交易流程V1_1_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:50px;
    top:97px;
    width:136px;
    height:48px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:54px;
}

.u15 {
    position:absolute;
    left:2px;
    top:17px;
    width:132px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:298px;
    top:7px;
    width:172px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../交易方交易流程V1_1_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:40px;
    top:238px;
    width:150px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u18 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../交易方交易流程V1_1_files/u17_normal.png');
}

.u19_container {
    position:absolute;
    left:51px;
    top:801px;
    width:150px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u20 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21c0 {
    background-image: url('../交易方交易流程V1_1_files/u21c0.png');
}

.u21c0 {
    position:absolute;
    left:105px;
    top:210px;
    width:20px;
    height:38px;
}

.u22 {
    position:absolute;
    left:-50px;
    top:4px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../交易方交易流程V1_1_files/u17_normal.png');
}

.u23_container {
    position:absolute;
    left:54px;
    top:971px;
    width:150px;
    height:40px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u24 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../交易方交易流程V1_1_files/u14_normal.png');
}

.u25_container {
    position:absolute;
    left:617px;
    top:96px;
    width:136px;
    height:48px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:54px;
}

.u26 {
    position:absolute;
    left:2px;
    top:17px;
    width:132px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../交易方交易流程V1_1_files/u17_normal.png');
}

.u27_container {
    position:absolute;
    left:607px;
    top:235px;
    width:150px;
    height:40px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u28 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29c0 {
    background-image: url('../交易方交易流程V1_1_files/u29c0.png');
}

.u29c0 {
    position:absolute;
    left:672px;
    top:211px;
    width:20px;
    height:34px;
}

.u30 {
    position:absolute;
    left:-50px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../交易方交易流程V1_1_files/u17_normal.png');
}

.u31_container {
    position:absolute;
    left:377px;
    top:479px;
    width:150px;
    height:40px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u32 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../交易方交易流程V1_1_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:590px;
    top:764px;
    width:90px;
    height:40px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:46px;
}

.u34 {
    position:absolute;
    left:2px;
    top:13px;
    width:86px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35c0 {
    background-image: url('../交易方交易流程V1_1_files/u35c0.png');
}

.u35c0 {
    position:absolute;
    left:625px;
    top:800px;
    width:20px;
    height:31px;
}

.u35c1 {
    background-image: url('../交易方交易流程V1_1_files/u35c1.png');
}

.u35c1 {
    position:absolute;
    left:197px;
    top:811px;
    width:448px;
    height:20px;
}

.u36 {
    position:absolute;
    left:-258px;
    top:9px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../交易方交易流程V1_1_files/u17_normal.png');
}

.u37_container {
    position:absolute;
    left:590px;
    top:900px;
    width:150px;
    height:40px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u38 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39c0 {
    background-image: url('../交易方交易流程V1_1_files/u39c0.png');
}

.u39c0 {
    position:absolute;
    left:116px;
    top:837px;
    width:20px;
    height:93px;
}

.u39c1 {
    background-image: url('../交易方交易流程V1_1_files/u39c1.png');
}

.u39c1 {
    position:absolute;
    left:116px;
    top:910px;
    width:478px;
    height:20px;
}

.u40 {
    position:absolute;
    left:142px;
    top:71px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../交易方交易流程V1_1_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:314px;
    top:1131px;
    width:150px;
    height:69px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:75px;
}

.u42 {
    position:absolute;
    left:2px;
    top:28px;
    width:146px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../交易方交易流程V1_1_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:392px;
    top:362px;
    width:124px;
    height:70px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:76px;
}

.u44 {
    position:absolute;
    left:2px;
    top:16px;
    width:120px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../交易方交易流程V1_1_files/u17_normal.png');
}

.u45_container {
    position:absolute;
    left:290px;
    top:268px;
    width:150px;
    height:40px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u46 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47c0 {
    background-image: url('../交易方交易流程V1_1_files/u47c0.png');
}

.u47c0 {
    position:absolute;
    left:105px;
    top:274px;
    width:20px;
    height:24px;
}

.u47c1 {
    background-image: url('../交易方交易流程V1_1_files/u47c1.png');
}

.u47c1 {
    position:absolute;
    left:105px;
    top:278px;
    width:189px;
    height:20px;
}

.u48 {
    position:absolute;
    left:32px;
    top:2px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../交易方交易流程V1_1_files/u43_normal.png');
}

.u49_container {
    position:absolute;
    left:603px;
    top:653px;
    width:124px;
    height:70px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:76px;
}

.u50 {
    position:absolute;
    left:2px;
    top:26px;
    width:120px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51c0 {
    background-image: url('../交易方交易流程V1_1_files/u51c0.png');
}

.u51c0 {
    position:absolute;
    left:672px;
    top:271px;
    width:20px;
    height:27px;
}

.u51c1 {
    background-image: url('../交易方交易流程V1_1_files/u51c1.png');
}

.u51c1 {
    position:absolute;
    left:436px;
    top:278px;
    width:256px;
    height:20px;
}

.u52 {
    position:absolute;
    left:-164px;
    top:5px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53c0 {
    background-image: url('../交易方交易流程V1_1_files/u53c0.png');
}

.u53c0 {
    position:absolute;
    left:355px;
    top:304px;
    width:20px;
    height:58px;
}

.u53c1 {
    background-image: url('../交易方交易流程V1_1_files/u53c1.png');
}

.u53c1 {
    position:absolute;
    left:355px;
    top:342px;
    width:109px;
    height:20px;
}

.u53c2 {
    background-image: url('../交易方交易流程V1_1_files/u53c2.png');
}

.u53c2 {
    position:absolute;
    left:444px;
    top:342px;
    width:20px;
    height:24px;
}

.u54 {
    position:absolute;
    left:-22px;
    top:36px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../交易方交易流程V1_1_files/u43_normal.png');
}

.u55_container {
    position:absolute;
    left:389px;
    top:549px;
    width:124px;
    height:70px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:76px;
}

.u56 {
    position:absolute;
    left:2px;
    top:16px;
    width:120px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../交易方交易流程V1_1_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:702px;
    top:764px;
    width:95px;
    height:40px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:46px;
}

.u58 {
    position:absolute;
    left:2px;
    top:13px;
    width:91px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59c0 {
    background-image: url('../交易方交易流程V1_1_files/u59c0.png');
}

.u59c0 {
    position:absolute;
    left:444px;
    top:428px;
    width:20px;
    height:51px;
}

.u59c1 {
    background-image: url('../交易方交易流程V1_1_files/u59c1.png');
}

.u59c1 {
    position:absolute;
    left:442px;
    top:459px;
    width:22px;
    height:20px;
}

.u59c2 {
    background-image: url('../交易方交易流程V1_1_files/u59c2.png');
}

.u59c2 {
    position:absolute;
    left:442px;
    top:459px;
    width:20px;
    height:24px;
}

.u60 {
    position:absolute;
    left:-50px;
    top:16px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61c0 {
    background-image: url('../交易方交易流程V1_1_files/u61c0.png');
}

.u61c0 {
    position:absolute;
    left:442px;
    top:515px;
    width:20px;
    height:34px;
}

.u61c1 {
    background-image: url('../交易方交易流程V1_1_files/u61c1.png');
}

.u61c1 {
    position:absolute;
    left:441px;
    top:529px;
    width:21px;
    height:20px;
}

.u61c2 {
    background-image: url('../交易方交易流程V1_1_files/u61c2.png');
}

.u61c2 {
    position:absolute;
    left:441px;
    top:529px;
    width:20px;
    height:24px;
}

.u62 {
    position:absolute;
    left:-50px;
    top:8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../交易方交易流程V1_1_files/u17_normal.png');
}

.u63_container {
    position:absolute;
    left:301px;
    top:668px;
    width:150px;
    height:40px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u64 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65c0 {
    background-image: url('../交易方交易流程V1_1_files/u65c0.png');
}

.u65c0 {
    position:absolute;
    left:441px;
    top:615px;
    width:20px;
    height:53px;
}

.u65c1 {
    background-image: url('../交易方交易流程V1_1_files/u65c1.png');
}

.u65c1 {
    position:absolute;
    left:366px;
    top:648px;
    width:95px;
    height:20px;
}

.u65c2 {
    background-image: url('../交易方交易流程V1_1_files/u65c2.png');
}

.u65c2 {
    position:absolute;
    left:366px;
    top:648px;
    width:20px;
    height:24px;
}

.u66 {
    position:absolute;
    left:-73px;
    top:31px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67c0 {
    background-image: url('../交易方交易流程V1_1_files/u67c0.png');
}

.u67c0 {
    position:absolute;
    left:501px;
    top:580px;
    width:20px;
    height:20px;
}

.u67c1 {
    background-image: url('../交易方交易流程V1_1_files/u67c1.png');
}

.u67c1 {
    position:absolute;
    left:501px;
    top:580px;
    width:69px;
    height:20px;
}

.u67c2 {
    background-image: url('../交易方交易流程V1_1_files/u67c2.png');
}

.u67c2 {
    position:absolute;
    left:550px;
    top:278px;
    width:20px;
    height:322px;
}

.u67c3 {
    background-image: url('../交易方交易流程V1_1_files/u67c3.png');
}

.u67c3 {
    position:absolute;
    left:443px;
    top:278px;
    width:127px;
    height:20px;
}

.u68 {
    position:absolute;
    left:-1px;
    top:-182px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69c0 {
    background-image: url('../交易方交易流程V1_1_files/u69c0.png');
}

.u69c0 {
    position:absolute;
    left:447px;
    top:678px;
    width:166px;
    height:20px;
}

.u70 {
    position:absolute;
    left:26px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71c0 {
    background-image: url('../交易方交易流程V1_1_files/u71c0.png');
}

.u71c0 {
    position:absolute;
    left:655px;
    top:719px;
    width:20px;
    height:45px;
}

.u71c1 {
    background-image: url('../交易方交易流程V1_1_files/u71c1.png');
}

.u71c1 {
    position:absolute;
    left:625px;
    top:744px;
    width:50px;
    height:20px;
}

.u71c2 {
    background-image: url('../交易方交易流程V1_1_files/u71c2.png');
}

.u71c2 {
    position:absolute;
    left:625px;
    top:744px;
    width:20px;
    height:24px;
}

.u72 {
    position:absolute;
    left:-54px;
    top:23px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73c0 {
    background-image: url('../交易方交易流程V1_1_files/u73c0.png');
}

.u73c0 {
    position:absolute;
    left:723px;
    top:678px;
    width:37px;
    height:20px;
}

.u73c1 {
    background-image: url('../交易方交易流程V1_1_files/u73c1.png');
}

.u73c1 {
    position:absolute;
    left:740px;
    top:678px;
    width:20px;
    height:90px;
}

.u74 {
    position:absolute;
    left:-27px;
    top:18px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../交易方交易流程V1_1_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:37px;
    top:1061px;
    width:184px;
    height:100px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:190px;
    height:106px;
}

.u76 {
    position:absolute;
    left:2px;
    top:34px;
    width:180px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../交易方交易流程V1_1_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:578px;
    top:1050px;
    width:192px;
    height:100px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:106px;
}

.u78 {
    position:absolute;
    left:2px;
    top:34px;
    width:188px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../交易方交易流程V1_1_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:37px;
    top:1201px;
    width:194px;
    height:90px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:200px;
    height:96px;
}

.u80 {
    position:absolute;
    left:2px;
    top:29px;
    width:190px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../交易方交易流程V1_1_files/u41_normal.png');
}

.u81_container {
    position:absolute;
    left:301px;
    top:1271px;
    width:150px;
    height:69px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:75px;
}

.u82 {
    position:absolute;
    left:2px;
    top:28px;
    width:146px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83c0 {
    background-image: url('../交易方交易流程V1_1_files/u83c0.png');
}

.u83c0 {
    position:absolute;
    left:655px;
    top:936px;
    width:20px;
    height:65px;
}

.u83c1 {
    background-image: url('../交易方交易流程V1_1_files/u83c1.png');
}

.u83c1 {
    position:absolute;
    left:200px;
    top:981px;
    width:475px;
    height:20px;
}

.u84 {
    position:absolute;
    left:-255px;
    top:43px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85c0 {
    background-image: url('../交易方交易流程V1_1_files/u85c0.png');
}

.u85c0 {
    position:absolute;
    left:119px;
    top:1007px;
    width:20px;
    height:64px;
}

.u86 {
    position:absolute;
    left:-50px;
    top:17px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87c0 {
    background-image: url('../交易方交易流程V1_1_files/u87c0.png');
}

.u87c0 {
    position:absolute;
    left:119px;
    top:1157px;
    width:20px;
    height:44px;
}

.u87c1 {
    background-image: url('../交易方交易流程V1_1_files/u87c1.png');
}

.u87c1 {
    position:absolute;
    left:119px;
    top:1181px;
    width:25px;
    height:20px;
}

.u87c2 {
    background-image: url('../交易方交易流程V1_1_files/u87c2.png');
}

.u87c2 {
    position:absolute;
    left:124px;
    top:1181px;
    width:20px;
    height:24px;
}

.u88 {
    position:absolute;
    left:-50px;
    top:14px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89c0 {
    background-image: url('../交易方交易流程V1_1_files/u89c0.png');
}

.u89c0 {
    position:absolute;
    left:217px;
    top:1101px;
    width:97px;
    height:20px;
}

.u89c1 {
    background-image: url('../交易方交易流程V1_1_files/u89c1.png');
}

.u89c1 {
    position:absolute;
    left:294px;
    top:1101px;
    width:20px;
    height:75px;
}

.u89c2 {
    background-image: url('../交易方交易流程V1_1_files/u89c2.png');
}

.u89c2 {
    position:absolute;
    left:294px;
    top:1156px;
    width:24px;
    height:20px;
}

.u90 {
    position:absolute;
    left:24px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91c0 {
    background-image: url('../交易方交易流程V1_1_files/u91c0.png');
}

.u91c0 {
    position:absolute;
    left:227px;
    top:1236px;
    width:87px;
    height:20px;
}

.u91c1 {
    background-image: url('../交易方交易流程V1_1_files/u91c1.png');
}

.u91c1 {
    position:absolute;
    left:294px;
    top:1156px;
    width:20px;
    height:100px;
}

.u91c2 {
    background-image: url('../交易方交易流程V1_1_files/u91c2.png');
}

.u91c2 {
    position:absolute;
    left:294px;
    top:1156px;
    width:24px;
    height:20px;
}

.u92 {
    position:absolute;
    left:23px;
    top:-16px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93c0 {
    background-image: url('../交易方交易流程V1_1_files/u93c0.png');
}

.u93c0 {
    position:absolute;
    left:124px;
    top:1287px;
    width:20px;
    height:29px;
}

.u93c1 {
    background-image: url('../交易方交易流程V1_1_files/u93c1.png');
}

.u93c1 {
    position:absolute;
    left:124px;
    top:1296px;
    width:181px;
    height:20px;
}

.u94 {
    position:absolute;
    left:26px;
    top:7px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95c0 {
    background-image: url('../交易方交易流程V1_1_files/u95c0.png');
}

.u95c0 {
    position:absolute;
    left:664px;
    top:1146px;
    width:20px;
    height:170px;
}

.u95c1 {
    background-image: url('../交易方交易流程V1_1_files/u95c1.png');
}

.u95c1 {
    position:absolute;
    left:447px;
    top:1296px;
    width:237px;
    height:20px;
}

.u96 {
    position:absolute;
    left:-84px;
    top:148px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../交易方交易流程V1_1_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:355px;
    top:51px;
    width:25px;
    height:25px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u98 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../交易方交易流程V1_1_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:86px;
    top:53px;
    width:25px;
    height:25px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u100 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../交易方交易流程V1_1_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:645px;
    top:54px;
    width:25px;
    height:22px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:22px;
}

.u102 {
    position:absolute;
    left:2px;
    top:3px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../交易方交易流程V1_1_files/u17_normal.png');
}

.u103_container {
    position:absolute;
    left:43px;
    top:170px;
    width:150px;
    height:40px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u104 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../交易方交易流程V1_1_files/u17_normal.png');
}

.u105_container {
    position:absolute;
    left:610px;
    top:170px;
    width:150px;
    height:40px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u106 {
    position:absolute;
    left:2px;
    top:13px;
    width:146px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107c0 {
    background-image: url('../交易方交易流程V1_1_files/u107c0.png');
}

.u107c0 {
    position:absolute;
    left:108px;
    top:141px;
    width:20px;
    height:39px;
}

.u108 {
    position:absolute;
    left:-50px;
    top:4px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109c0 {
    background-image: url('../交易方交易流程V1_1_files/u109c0.png');
}

.u109c0 {
    position:absolute;
    left:675px;
    top:140px;
    width:20px;
    height:40px;
}

.u110 {
    position:absolute;
    left:-50px;
    top:5px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../交易方交易流程V1_1_files/u43_normal.png');
}

.u111_container {
    position:absolute;
    left:264px;
    top:362px;
    width:124px;
    height:70px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:76px;
}

.u112 {
    position:absolute;
    left:2px;
    top:16px;
    width:120px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113c0 {
    background-image: url('../交易方交易流程V1_1_files/u113c0.png');
}

.u113c0 {
    position:absolute;
    left:355px;
    top:304px;
    width:20px;
    height:58px;
}

.u113c1 {
    background-image: url('../交易方交易流程V1_1_files/u113c1.png');
}

.u113c1 {
    position:absolute;
    left:316px;
    top:342px;
    width:59px;
    height:20px;
}

.u113c2 {
    background-image: url('../交易方交易流程V1_1_files/u113c2.png');
}

.u113c2 {
    position:absolute;
    left:316px;
    top:342px;
    width:20px;
    height:24px;
}

.u114 {
    position:absolute;
    left:-52px;
    top:36px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115c0 {
    background-image: url('../交易方交易流程V1_1_files/u115c0.png');
}

.u115c0 {
    position:absolute;
    left:316px;
    top:428px;
    width:20px;
    height:240px;
}

.u115c1 {
    background-image: url('../交易方交易流程V1_1_files/u115c1.png');
}

.u115c1 {
    position:absolute;
    left:316px;
    top:648px;
    width:70px;
    height:20px;
}

.u115c2 {
    background-image: url('../交易方交易流程V1_1_files/u115c2.png');
}

.u115c2 {
    position:absolute;
    left:366px;
    top:648px;
    width:20px;
    height:24px;
}

.u116 {
    position:absolute;
    left:-50px;
    top:135px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117c0 {
    background-image: url('../交易方交易流程V1_1_files/u117c0.png');
}

.u117c0 {
    position:absolute;
    left:244px;
    top:387px;
    width:24px;
    height:20px;
}

.u117c1 {
    background-image: url('../交易方交易流程V1_1_files/u117c1.png');
}

.u117c1 {
    position:absolute;
    left:244px;
    top:278px;
    width:20px;
    height:129px;
}

.u117c2 {
    background-image: url('../交易方交易流程V1_1_files/u117c2.png');
}

.u117c2 {
    position:absolute;
    left:244px;
    top:278px;
    width:50px;
    height:20px;
}

.u118 {
    position:absolute;
    left:-60px;
    top:-76px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119c0 {
    background-image: url('../交易方交易流程V1_1_files/u119c0.png');
}

.u119c0 {
    position:absolute;
    left:512px;
    top:387px;
    width:24px;
    height:20px;
}

.u119c1 {
    background-image: url('../交易方交易流程V1_1_files/u119c1.png');
}

.u119c1 {
    position:absolute;
    left:516px;
    top:278px;
    width:20px;
    height:129px;
}

.u119c2 {
    background-image: url('../交易方交易流程V1_1_files/u119c2.png');
}

.u119c2 {
    position:absolute;
    left:436px;
    top:278px;
    width:100px;
    height:20px;
}

.u120 {
    position:absolute;
    left:-40px;
    top:-100px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121c0 {
    background-image: url('../交易方交易流程V1_1_files/u121c0.png');
}

.u121c0 {
    position:absolute;
    left:766px;
    top:1090px;
    width:24px;
    height:20px;
}

.u121c1 {
    background-image: url('../交易方交易流程V1_1_files/u121c1.png');
}

.u121c1 {
    position:absolute;
    left:770px;
    top:804px;
    width:20px;
    height:306px;
}

.u121c2 {
    background-image: url('../交易方交易流程V1_1_files/u121c2.png');
}

.u121c2 {
    position:absolute;
    left:740px;
    top:804px;
    width:50px;
    height:20px;
}

.u121c3 {
    background-image: url('../交易方交易流程V1_1_files/u121c3.png');
}

.u121c3 {
    position:absolute;
    left:740px;
    top:800px;
    width:20px;
    height:24px;
}

.u122 {
    position:absolute;
    left:-40px;
    top:-166px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

