* html .u1_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u1_normal.png");
}

* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u3_normal.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u5_normal.png");
}

* html .u7c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u7c0.png");
}

* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u9_normal.png");
}

* html .u11c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u11c0.png");
}

* html .u11c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u11c1.png");
}

* html .u11c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u11c2.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u5_normal.png");
}

* html .u15c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u15c0.png");
}

* html .u17c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u17c0.png");
}

* html .u19c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u19c0.png");
}

* html .u21c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u21c0.png");
}

* html .u21c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u21c1.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u23_normal.png");
}

* html .u25_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="冲银行转证券（冲入金-浦发）_files/u25_normal.png");
}

