<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <!-- 数据库连接 -->
    <add name="mainsqlserver" connectionString="Data Source=192.168.0.129,2433;Initial Catalog=PFPT;Persist Security Info=True;User ID=UserIISWEB;Password=100zzcom;Enlist=true;Pooling=true;Min Pool Size=100;Max Pool Size=5000;Connection Lifetime=60;Connect Timeout=60;Workstation ID=xxxx" providerName="System.Data.SqlClient" />

    <!-- IPC接口聚合中心配置 , IPCurl是接口中心地址，ThisAppPoolName是本地应用进程池名（部署时清理进程用的） -->
    <add name="IPCurl" connectionString="http://ipc.fm8844.com/fmwscenter.asmx" />
    <add name="ThisAppPoolName" connectionString="Server辅助业务中心" />

    <!-- Redis数据库缓存设置 -->
    <add name="DefaultRedis" connectionString="192.168.10.19|6379"/>


  </connectionStrings>
  <system.web>
    <!-- 需要管理员账户 -->
    <identity impersonate="true" password="gongxiang" userName="gongxiang" />
    <!-- 是否开启调试 -->
    <compilation debug="false" targetFramework="4.0" />
    <!-- HTML控件呈现的兼容版本 -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
    <runtime>
        <!-- 为应用程序禁用 CAS 发行者策略检查 -->
        <generatePublisherEvidence enabled="false"/>
    </runtime>
</configuration>