<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="关系数据">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="关系唯一标示" type="xs:string" minOccurs="0" />
                <xs:element name="调用方识别标记" type="xs:string" minOccurs="0" />
                <xs:element name="是否开启日志" type="xs:int" minOccurs="0" />
                <xs:element name="业务名称" type="xs:string" minOccurs="0" />
                <xs:element name="操作特点" type="xs:int" minOccurs="0" />
                <xs:element name="调用方式" type="xs:int" minOccurs="0" />
                <xs:element name="接口域名" type="xs:string" minOccurs="0" />
                <xs:element name="接口地址" type="xs:string" minOccurs="0" />
                <xs:element name="方法名" type="xs:string" minOccurs="0" />
                <xs:element name="返回值类型" type="xs:string" minOccurs="0" />
                <xs:element name="参数类型" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <关系数据>
    <关系唯一标示>6460e746-e9d0-4869-9874-2e53384e3120</关系唯一标示>
    <调用方识别标记>ServerDemo1</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>分页数据获取</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>analysis.ipc.com</接口域名>
    <接口地址>pagerdemo.asmx</接口地址>
    <方法名>GetPagerDB</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>DataSet</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>65edd5c6-374d-4480-836d-5a1e2a50ca6e</关系唯一标示>
    <调用方识别标记>ServerDemo1</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>定义分页参数</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>analysis.ipc.com</接口域名>
    <接口地址>pagerdemo.asmx</接口地址>
    <方法名>SetPagerInit</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>string[]</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>801b42db-e6c1-48fe-b7c3-cfef65546907</关系唯一标示>
    <调用方识别标记>ServerDemo1</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>用户锁定</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>system.ipc.com</接口域名>
    <接口地址>system.asmx</接口地址>
    <方法名>LockBegin_ByUser</方法名>
    <返回值类型>string</返回值类型>
    <参数类型>string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>bc31b793-7a54-4a0e-8955-ef823cbc1865</关系唯一标示>
    <调用方识别标记>ServerDemo1</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>测试33</业务名称>
    <操作特点>0</操作特点>
    <调用方式>0</调用方式>
    <接口域名>ServerDemo2.ipc.com</接口域名>
    <接口地址>s2.asmx</接口地址>
    <方法名>test3335</方法名>
    <返回值类型>string</返回值类型>
    <参数类型>string|string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>f2694148-9484-4e3e-8bc9-c0571af031b2</关系唯一标示>
    <调用方识别标记>ServerDemo1</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>用户解锁</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>system.ipc.com</接口域名>
    <接口地址>system.asmx</接口地址>
    <方法名>LockEnd_ByUser</方法名>
    <返回值类型>string</返回值类型>
    <参数类型>string</参数类型>
  </关系数据>
</NewDataSet>