body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:80px;
    top:10px;
    width:955px;
    height:1095px
}

.u1_normal {
    background-image: url('../酒店预订_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:500px;
    height:46px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:506px;
    height:52px;
}

.u2 {
    position:absolute;
    left:2px;
    top:14px;
    width:496px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../酒店预订_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:500px;
    top:0px;
    width:450px;
    height:46px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:52px;
}

.u4 {
    position:absolute;
    left:2px;
    top:14px;
    width:446px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../酒店预订_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:46px;
    width:500px;
    height:1044px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:506px;
    height:1050px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../酒店预订_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:500px;
    top:46px;
    width:450px;
    height:1044px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:1050px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../用餐预订业务流程_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:170px;
    top:68px;
    width:160px;
    height:60px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:66px;
}

.u11 {
    position:absolute;
    left:2px;
    top:22px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12c0 {
    background-image: url('../用餐预订业务流程_files/u12c0.png');
}

.u12c0 {
    position:absolute;
    left:240px;
    top:124px;
    width:20px;
    height:46px;
}

.u13 {
    position:absolute;
    left:-50px;
    top:8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../用餐预订业务流程_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:140px;
    top:160px;
    width:220px;
    height:50px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:56px;
}

.u15 {
    position:absolute;
    left:2px;
    top:9px;
    width:216px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../用餐预订业务流程_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:140px;
    top:262px;
    width:220px;
    height:48px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:54px;
}

.u17 {
    position:absolute;
    left:2px;
    top:0px;
    width:216px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../用餐预订业务流程_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:137px;
    top:360px;
    width:225px;
    height:45px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:51px;
}

.u19 {
    position:absolute;
    left:2px;
    top:6px;
    width:221px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20c0 {
    background-image: url('../用餐预订业务流程_files/u20c0.png');
}

.u20c0 {
    position:absolute;
    left:240px;
    top:206px;
    width:20px;
    height:66px;
}

.u21 {
    position:absolute;
    left:-50px;
    top:18px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22c0 {
    background-image: url('../用餐预订业务流程_files/u22c0.png');
}

.u22c0 {
    position:absolute;
    left:240px;
    top:306px;
    width:20px;
    height:64px;
}

.u23 {
    position:absolute;
    left:-50px;
    top:17px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../用餐预订业务流程_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:140px;
    top:440px;
    width:220px;
    height:45px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:51px;
}

.u25 {
    position:absolute;
    left:2px;
    top:14px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26c0 {
    background-image: url('../用餐预订业务流程_files/u26c0.png');
}

.u26c0 {
    position:absolute;
    left:240px;
    top:401px;
    width:20px;
    height:49px;
}

.u27 {
    position:absolute;
    left:-50px;
    top:10px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../用餐预订业务流程_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:370px;
    top:448px;
    width:140px;
    height:30px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u29 {
    position:absolute;
    left:2px;
    top:7px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../用餐预订业务流程_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:587px;
    top:680px;
    width:190px;
    height:45px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:51px;
}

.u31 {
    position:absolute;
    left:2px;
    top:14px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32c0 {
    background-image: url('../用餐预订业务流程_files/u32c0.png');
}

.u32c0 {
    position:absolute;
    left:665px;
    top:636px;
    width:20px;
    height:44px;
}

.u32c1 {
    background-image: url('../用餐预订业务流程_files/u32c1.png');
}

.u32c1 {
    position:absolute;
    left:665px;
    top:660px;
    width:27px;
    height:20px;
}

.u32c2 {
    background-image: url('../用餐预订业务流程_files/u32c2.png');
}

.u32c2 {
    position:absolute;
    left:672px;
    top:660px;
    width:20px;
    height:24px;
}

.u33 {
    position:absolute;
    left:-50px;
    top:16px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../用餐预订业务流程_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:610px;
    top:570px;
    width:130px;
    height:70px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:76px;
}

.u35 {
    position:absolute;
    left:2px;
    top:27px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../用餐预订业务流程_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:792px;
    top:586px;
    width:180px;
    height:40px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u37 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38c0 {
    background-image: url('../用餐预订业务流程_files/u38c0.png');
}

.u38c0 {
    position:absolute;
    left:672px;
    top:721px;
    width:20px;
    height:24px;
}

.u38c1 {
    background-image: url('../用餐预订业务流程_files/u38c1.png');
}

.u38c1 {
    position:absolute;
    left:672px;
    top:725px;
    width:21px;
    height:20px;
}

.u38c2 {
    background-image: url('../用餐预订业务流程_files/u38c2.png');
}

.u38c2 {
    position:absolute;
    left:673px;
    top:725px;
    width:20px;
    height:19px;
}

.u39 {
    position:absolute;
    left:-50px;
    top:0px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40c0 {
    background-image: url('../用餐预订业务流程_files/u40c0.png');
}

.u40c0 {
    position:absolute;
    left:736px;
    top:595px;
    width:56px;
    height:20px;
}

.u40c1 {
    background-image: url('../用餐预订业务流程_files/u40c1.png');
}

.u40c1 {
    position:absolute;
    left:772px;
    top:595px;
    width:20px;
    height:21px;
}

.u40c2 {
    background-image: url('../用餐预订业务流程_files/u40c2.png');
}

.u40c2 {
    position:absolute;
    left:772px;
    top:596px;
    width:24px;
    height:20px;
}

.u41 {
    position:absolute;
    left:-24px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../用餐预订业务流程_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:818px;
    top:740px;
    width:100px;
    height:60px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u43 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../用餐预订业务流程_files/u10_normal.png');
}

.u44_container {
    position:absolute;
    left:603px;
    top:740px;
    width:160px;
    height:60px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:66px;
}

.u45 {
    position:absolute;
    left:2px;
    top:22px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46c0 {
    background-image: url('../用餐预订业务流程_files/u46c0.png');
}

.u46c0 {
    position:absolute;
    left:1009px;
    top:970px;
    width:24px;
    height:20px;
}

.u46c1 {
    background-image: url('../用餐预订业务流程_files/u46c1.png');
}

.u46c1 {
    position:absolute;
    left:1009px;
    top:966px;
    width:20px;
    height:24px;
}

.u47 {
    position:absolute;
    left:-60px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48c0 {
    background-image: url('../用餐预订业务流程_files/u48c0.png');
}

.u48c0 {
    position:absolute;
    left:240px;
    top:481px;
    width:20px;
    height:89px;
}

.u48c1 {
    background-image: url('../用餐预订业务流程_files/u48c1.png');
}

.u48c1 {
    position:absolute;
    left:240px;
    top:550px;
    width:445px;
    height:20px;
}

.u48c2 {
    background-image: url('../用餐预订业务流程_files/u48c2.png');
}

.u48c2 {
    position:absolute;
    left:665px;
    top:550px;
    width:20px;
    height:24px;
}

.u49 {
    position:absolute;
    left:130px;
    top:67px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

