body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:10px;
    top:124px;
    width:581px;
    height:107px
}

.u1_normal {
    background-image: url('../考核查看_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:36px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u2 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../考核查看_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:80px;
    top:0px;
    width:117px;
    height:36px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:42px;
}

.u4 {
    position:absolute;
    left:2px;
    top:10px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../考核查看_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:197px;
    top:0px;
    width:117px;
    height:36px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:42px;
}

.u6 {
    position:absolute;
    left:2px;
    top:10px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../考核查看_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:314px;
    top:0px;
    width:119px;
    height:36px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:42px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../考核查看_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:433px;
    top:0px;
    width:142px;
    height:36px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:42px;
}

.u10 {
    position:absolute;
    left:2px;
    top:10px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../考核查看_files/u1_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:36px;
    width:80px;
    height:36px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u12 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../考核查看_files/u3_normal.png');
}

.u13_container {
    position:absolute;
    left:80px;
    top:36px;
    width:117px;
    height:36px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:42px;
}

.u14 {
    position:absolute;
    left:2px;
    top:10px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../考核查看_files/u3_normal.png');
}

.u15_container {
    position:absolute;
    left:197px;
    top:36px;
    width:117px;
    height:36px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:42px;
}

.u16 {
    position:absolute;
    left:2px;
    top:10px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../考核查看_files/u7_normal.png');
}

.u17_container {
    position:absolute;
    left:314px;
    top:36px;
    width:119px;
    height:36px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:42px;
}

.u18 {
    position:absolute;
    left:2px;
    top:10px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../考核查看_files/u9_normal.png');
}

.u19_container {
    position:absolute;
    left:433px;
    top:36px;
    width:142px;
    height:36px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:42px;
}

.u20 {
    position:absolute;
    left:2px;
    top:10px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../考核查看_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:72px;
    width:80px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:7px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../考核查看_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:80px;
    top:72px;
    width:117px;
    height:30px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:36px;
}

.u24 {
    position:absolute;
    left:2px;
    top:7px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../考核查看_files/u23_normal.png');
}

.u25_container {
    position:absolute;
    left:197px;
    top:72px;
    width:117px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:36px;
}

.u26 {
    position:absolute;
    left:2px;
    top:7px;
    width:113px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../考核查看_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:314px;
    top:72px;
    width:119px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../考核查看_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:433px;
    top:72px;
    width:142px;
    height:30px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:36px;
}

.u30 {
    position:absolute;
    left:2px;
    top:7px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:10px;
    top:98px;
    width:430px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u32 {
    position:absolute;
    left:86px;
    top:296px;
    width:855px;
    height:369px
}

.u33_normal {
    background-image: url('../考核查看_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:850px;
    height:36px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:856px;
    height:42px;
}

.u34 {
    position:absolute;
    left:2px;
    top:10px;
    width:846px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../考核查看_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:36px;
    width:850px;
    height:96px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:856px;
    height:102px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:846px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../考核查看_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:132px;
    width:850px;
    height:100px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:856px;
    height:106px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:846px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../考核查看_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:232px;
    width:850px;
    height:52px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:856px;
    height:58px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:846px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../考核查看_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:284px;
    width:850px;
    height:40px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:856px;
    height:46px;
}

.u42 {
    position:absolute;
    left:2px;
    top:12px;
    width:846px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../考核查看_files/u41_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:324px;
    width:850px;
    height:40px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:856px;
    height:46px;
}

.u44 {
    position:absolute;
    left:2px;
    top:12px;
    width:846px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:86px;
    top:270px;
    width:560px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u46 {
    position:absolute;
    left:86px;
    top:328px;
    width:855px;
    height:207px
}

.u47_normal {
    background-image: url('../考核查看_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:36px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:42px;
}

.u48 {
    position:absolute;
    left:2px;
    top:10px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../考核查看_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:150px;
    top:0px;
    width:100px;
    height:36px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u50 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../考核查看_files/u49_normal.png');
}

.u51_container {
    position:absolute;
    left:250px;
    top:0px;
    width:100px;
    height:36px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u52 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../考核查看_files/u9_normal.png');
}

.u53_container {
    position:absolute;
    left:350px;
    top:0px;
    width:142px;
    height:36px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:42px;
}

.u54 {
    position:absolute;
    left:2px;
    top:10px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../考核查看_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:492px;
    top:0px;
    width:140px;
    height:36px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:42px;
}

.u56 {
    position:absolute;
    left:2px;
    top:10px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../考核查看_files/u49_normal.png');
}

.u57_container {
    position:absolute;
    left:632px;
    top:0px;
    width:100px;
    height:36px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u58 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../考核查看_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:732px;
    top:0px;
    width:118px;
    height:36px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:42px;
}

.u60 {
    position:absolute;
    left:2px;
    top:10px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../考核查看_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:36px;
    width:150px;
    height:80px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:86px;
}

.u62 {
    position:absolute;
    left:2px;
    top:32px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../考核查看_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:150px;
    top:36px;
    width:100px;
    height:80px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:86px;
}

.u64 {
    position:absolute;
    left:2px;
    top:32px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../考核查看_files/u63_normal.png');
}

.u65_container {
    position:absolute;
    left:250px;
    top:36px;
    width:100px;
    height:80px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:86px;
}

.u66 {
    position:absolute;
    left:2px;
    top:32px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../考核查看_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:350px;
    top:36px;
    width:142px;
    height:80px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:86px;
}

.u68 {
    position:absolute;
    left:2px;
    top:32px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../考核查看_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:492px;
    top:36px;
    width:140px;
    height:80px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:86px;
}

.u70 {
    position:absolute;
    left:2px;
    top:16px;
    width:136px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../考核查看_files/u63_normal.png');
}

.u71_container {
    position:absolute;
    left:632px;
    top:36px;
    width:100px;
    height:80px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:86px;
}

.u72 {
    position:absolute;
    left:2px;
    top:32px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../考核查看_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:732px;
    top:36px;
    width:118px;
    height:80px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:86px;
}

.u74 {
    position:absolute;
    left:2px;
    top:8px;
    width:114px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../考核查看_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:0px;
    top:116px;
    width:150px;
    height:86px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:92px;
}

.u76 {
    position:absolute;
    left:2px;
    top:35px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../考核查看_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:150px;
    top:116px;
    width:100px;
    height:86px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:92px;
}

.u78 {
    position:absolute;
    left:2px;
    top:35px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../考核查看_files/u77_normal.png');
}

.u79_container {
    position:absolute;
    left:250px;
    top:116px;
    width:100px;
    height:86px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:92px;
}

.u80 {
    position:absolute;
    left:2px;
    top:35px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../考核查看_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:350px;
    top:116px;
    width:142px;
    height:86px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:92px;
}

.u82 {
    position:absolute;
    left:2px;
    top:35px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../考核查看_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:492px;
    top:116px;
    width:140px;
    height:86px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:92px;
}

.u84 {
    position:absolute;
    left:2px;
    top:11px;
    width:136px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../考核查看_files/u77_normal.png');
}

.u85_container {
    position:absolute;
    left:632px;
    top:116px;
    width:100px;
    height:86px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:92px;
}

.u86 {
    position:absolute;
    left:2px;
    top:35px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../考核查看_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:732px;
    top:116px;
    width:118px;
    height:86px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:92px;
}

.u88 {
    position:absolute;
    left:2px;
    top:35px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:13px;
    top:49px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../考核查看_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:395px;
    top:45px;
    width:60px;
    height:25px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u91 {
    position:absolute;
    left:2px;
    top:4px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:285px;
    top:45px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u93 {
    position:absolute;
    left:220px;
    top:54px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:86px;
    top:48px;
    width:114px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u95_normal {
    background-image: url('../考核查看_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:481px;
    top:164px;
    width:69px;
    height:25px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:31px;
}

.u96 {
    position:absolute;
    left:2px;
    top:4px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../考核查看_files/u90_normal.png');
}

.u97_container {
    position:absolute;
    left:470px;
    top:44px;
    width:60px;
    height:25px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:31px;
}

.u98 {
    position:absolute;
    left:2px;
    top:4px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

