<?xml version="1.0"?>
<configuration>  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="银行监控平安.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <银行监控平安.Properties.Settings>
            <setting name="银行监控平安_pt_fm8844_com_ws2013" serializeAs="String">
                <value>http://pt.fm8844.com/pingtaiservices/ws2013.asmx</value>
            </setting>
            <setting name="银行监控平安_ceshi_fm8844_com_ws2013" serializeAs="String">
                <value>http://192.168.0.26:777/pingtaiservices/ws2013.asmx</value>
            </setting>
        </银行监控平安.Properties.Settings>
    </applicationSettings> 
  <appSettings>  
    <add key="Port" value="32003"/>
    <!--<add key="webAdd" value="银行监控平安.ceshi.fm8844.com.ws2013"/>-->
    <add key="ftpIP" value="192.168.0.34"/>
    <add key="ftpUserID" value=""/>
    <add key="ftpPsWd" value=""/>
    <add key="PingAnQydm" value="8536"/>
  </appSettings>
  <connectionStrings>
    <!-- IPC接口聚合中心配置 , IPCurl是接口中心地址，ThisAppPoolName是本地应用进程池名（部署时清理进程用的） -->
    <add name="IPCurl" connectionString="http://ipc.ipc.com/fmwscenter.asmx"/>
    <add name="ThisAppPoolName" connectionString="各银行监控统一标记"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
