<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="关系数据">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="关系唯一标示" type="xs:string" minOccurs="0" />
                <xs:element name="调用方识别标记" type="xs:string" minOccurs="0" />
                <xs:element name="是否开启日志" type="xs:int" minOccurs="0" />
                <xs:element name="业务名称" type="xs:string" minOccurs="0" />
                <xs:element name="操作特点" type="xs:int" minOccurs="0" />
                <xs:element name="调用方式" type="xs:int" minOccurs="0" />
                <xs:element name="接口域名" type="xs:string" minOccurs="0" />
                <xs:element name="接口地址" type="xs:string" minOccurs="0" />
                <xs:element name="方法名" type="xs:string" minOccurs="0" />
                <xs:element name="返回值类型" type="xs:string" minOccurs="0" />
                <xs:element name="参数类型" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <关系数据>
    <关系唯一标示>bc6d853c-f352-4f17-949c-2411ae7f129b</关系唯一标示>
    <调用方识别标记>Server成交处理中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取主键</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>system.ipc.com</接口域名>
    <接口地址>system.asmx</接口地址>
    <方法名>GetNextNumberZZ_XTKZ</方法名>
    <返回值类型>string</返回值类型>
    <参数类型>string|string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>c8a04d6a-1041-47e1-891a-1afe7de6c084</关系唯一标示>
    <调用方识别标记>Server成交处理中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>获取账户的相关信息</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>system.ipc.com</接口域名>
    <接口地址>system.asmx</接口地址>
    <方法名>GetUserInfo_XTKZ</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>String{bh}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>b2902ea8-f841-45b4-8cc1-ea736ca312d7</关系唯一标示>
    <调用方识别标记>Server成交处理中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>发送提醒</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>system.ipc.com</接口域名>
    <接口地址>system.asmx</接口地址>
    <方法名>Sendmes_XTKZ</方法名>
    <返回值类型>string</返回值类型>
    <参数类型>DataSet</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>46ef07b1-7665-4327-9cf6-0464d3ba5271</关系唯一标示>
    <调用方识别标记>Server成交处理中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>平台动态参数</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>system.ipc.com</接口域名>
    <接口地址>system.asmx</接口地址>
    <方法名>GetParameterInfo_XTKZ</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>5d54ddd4-afb8-457e-bc3d-f86f3c8cc03d</关系唯一标示>
    <调用方识别标记>Server成交处理中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>一级分类</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>analysis.ipc.com</接口域名>
    <接口地址>analysis.asmx</接口地址>
    <方法名>test_dsfl_SJFX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>7f3fe84c-06dd-4b1c-afb5-163ebc513156</关系唯一标示>
    <调用方识别标记>Server成交处理中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>列表加载返回DataSet</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>analysis.ipc.com</接口域名>
    <接口地址>analysis.asmx</接口地址>
    <方法名>test_ds_Run_SJFX</方法名>
    <返回值类型>DataSet</返回值类型>
    <参数类型>string</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>089fbd42-7792-4735-9d4d-2ee7cc7cd62c</关系唯一标示>
    <调用方识别标记>Server成交处理中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>信用等级积分处理</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>user.ipc.com</接口域名>
    <接口地址>user.asmx</接口地址>
    <方法名>userXYJF</方法名>
    <返回值类型>Boolean</返回值类型>
    <参数类型>String{ywname}★DataTable{dt}★</参数类型>
  </关系数据>
  <关系数据>
    <关系唯一标示>82708e87-d43a-4e0b-9444-5f03f1399954</关系唯一标示>
    <调用方识别标记>Server成交处理中心</调用方识别标记>
    <是否开启日志>0</是否开启日志>
    <业务名称>账户当前可用余额</业务名称>
    <操作特点>0</操作特点>
    <调用方式>1</调用方式>
    <接口域名>user.ipc.com</接口域名>
    <接口地址>user.asmx</接口地址>
    <方法名>GetZHKYYE_YHKZZX</方法名>
    <返回值类型>string</返回值类型>
    <参数类型>string</参数类型>
  </关系数据>
</NewDataSet>