body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:430px;
    top:50px;
    width:272px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../退换货业务流程V1_2_未实施_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:412px;
    top:392px;
    width:176px;
    height:60px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:66px;
}

.u2 {
    position:absolute;
    left:2px;
    top:9px;
    width:172px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../退换货业务流程V1_2_未实施_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:415px;
    top:259px;
    width:150px;
    height:80px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:86px;
}

.u4 {
    position:absolute;
    left:2px;
    top:21px;
    width:146px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../退换货业务流程V1_2_未实施_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:417px;
    top:170px;
    width:145px;
    height:40px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:46px;
}

.u6 {
    position:absolute;
    left:2px;
    top:13px;
    width:141px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../退换货业务流程V1_2_未实施_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:90px;
    top:520px;
    width:250px;
    height:70px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:76px;
}

.u8 {
    position:absolute;
    left:2px;
    top:11px;
    width:246px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9c0 {
    background-image: url('../退换货业务流程V1_2_未实施_files/u9c0.png');
}

.u9c0 {
    position:absolute;
    left:480px;
    top:206px;
    width:20px;
    height:63px;
}

.u10 {
    position:absolute;
    left:-50px;
    top:16px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11c0 {
    background-image: url('../退换货业务流程V1_2_未实施_files/u11c0.png');
}

.u11c0 {
    position:absolute;
    left:480px;
    top:335px;
    width:20px;
    height:57px;
}

.u11c1 {
    background-image: url('../退换货业务流程V1_2_未实施_files/u11c1.png');
}

.u11c1 {
    position:absolute;
    left:480px;
    top:372px;
    width:30px;
    height:20px;
}

.u11c2 {
    background-image: url('../退换货业务流程V1_2_未实施_files/u11c2.png');
}

.u11c2 {
    position:absolute;
    left:490px;
    top:372px;
    width:20px;
    height:24px;
}

.u12 {
    position:absolute;
    left:-50px;
    top:24px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13c0 {
    background-image: url('../退换货业务流程V1_2_未实施_files/u13c0.png');
}

.u13c0 {
    position:absolute;
    left:490px;
    top:448px;
    width:20px;
    height:102px;
}

.u14 {
    position:absolute;
    left:-50px;
    top:36px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../退换货业务流程V1_2_未实施_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:420px;
    top:625px;
    width:160px;
    height:40px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:46px;
}

.u16 {
    position:absolute;
    left:2px;
    top:13px;
    width:156px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../退换货业务流程V1_2_未实施_files/u3_normal.png');
}

.u17_container {
    position:absolute;
    left:425px;
    top:495px;
    width:150px;
    height:80px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:86px;
}

.u18 {
    position:absolute;
    left:2px;
    top:30px;
    width:146px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../退换货业务流程V1_2_未实施_files/u15_normal.png');
}

.u19_container {
    position:absolute;
    left:650px;
    top:630px;
    width:160px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:46px;
}

.u20 {
    position:absolute;
    left:2px;
    top:13px;
    width:156px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../退换货业务流程V1_2_未实施_files/u15_normal.png');
}

.u21_container {
    position:absolute;
    left:650px;
    top:720px;
    width:160px;
    height:40px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:46px;
}

.u22 {
    position:absolute;
    left:2px;
    top:13px;
    width:156px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../退换货业务流程V1_2_未实施_files/u3_normal.png');
}

.u23_container {
    position:absolute;
    left:655px;
    top:810px;
    width:150px;
    height:80px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:86px;
}

.u24 {
    position:absolute;
    left:2px;
    top:30px;
    width:146px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../退换货业务流程V1_2_未实施_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:560px;
    top:940px;
    width:180px;
    height:60px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:66px;
}

.u26 {
    position:absolute;
    left:2px;
    top:-2px;
    width:176px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../退换货业务流程V1_2_未实施_files/u25_normal.png');
}

.u27_container {
    position:absolute;
    left:840px;
    top:936px;
    width:180px;
    height:60px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:66px;
}

.u28 {
    position:absolute;
    left:2px;
    top:6px;
    width:176px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29c0 {
    background-image: url('../退换货业务流程V1_2_未实施_files/u29c0.png');
}

.u29c0 {
    position:absolute;
    left:490px;
    top:571px;
    width:20px;
    height:64px;
}

.u30 {
    position:absolute;
    left:-50px;
    top:17px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31c0 {
    background-image: url('../退换货业务流程V1_2_未实施_files/u31c0.png');
}

.u31c0 {
    position:absolute;
    left:571px;
    top:525px;
    width:169px;
    height:20px;
}

.u31c1 {
    background-image: url('../退换货业务流程V1_2_未实施_files/u31c1.png');
}

.u31c1 {
    position:absolute;
    left:720px;
    top:525px;
    width:20px;
    height:109px;
}

.u32 {
    position:absolute;
    left:75px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33c0 {
    background-image: url('../退换货业务流程V1_2_未实施_files/u33c0.png');
}

.u33c0 {
    position:absolute;
    left:720px;
    top:666px;
    width:20px;
    height:64px;
}

.u34 {
    position:absolute;
    left:-50px;
    top:17px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35c0 {
    background-image: url('../退换货业务流程V1_2_未实施_files/u35c0.png');
}

.u35c0 {
    position:absolute;
    left:720px;
    top:756px;
    width:20px;
    height:64px;
}

.u36 {
    position:absolute;
    left:-50px;
    top:17px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37c0 {
    background-image: url('../退换货业务流程V1_2_未实施_files/u37c0.png');
}

.u37c0 {
    position:absolute;
    left:720px;
    top:886px;
    width:20px;
    height:54px;
}

.u37c1 {
    background-image: url('../退换货业务流程V1_2_未实施_files/u37c1.png');
}

.u37c1 {
    position:absolute;
    left:640px;
    top:920px;
    width:100px;
    height:20px;
}

.u37c2 {
    background-image: url('../退换货业务流程V1_2_未实施_files/u37c2.png');
}

.u37c2 {
    position:absolute;
    left:640px;
    top:920px;
    width:20px;
    height:24px;
}

.u38 {
    position:absolute;
    left:-75px;
    top:32px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39c0 {
    background-image: url('../退换货业务流程V1_2_未实施_files/u39c0.png');
}

.u39c0 {
    position:absolute;
    left:801px;
    top:840px;
    width:139px;
    height:20px;
}

.u39c1 {
    background-image: url('../退换货业务流程V1_2_未实施_files/u39c1.png');
}

.u39c1 {
    position:absolute;
    left:920px;
    top:840px;
    width:20px;
    height:100px;
}

.u40 {
    position:absolute;
    left:56px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:855px;
    top:642px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:170px;
    top:652px;
    width:200px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

