body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../厂家直供_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:190px;
    top:98px;
    width:140px;
    height:72px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:78px;
}

.u1 {
    position:absolute;
    left:2px;
    top:28px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../厂家直供_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:146px;
    top:375px;
    width:225px;
    height:45px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:51px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../厂家直供_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:148px;
    top:296px;
    width:222px;
    height:44px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:50px;
}

.u5 {
    position:absolute;
    left:2px;
    top:6px;
    width:218px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:135px;
    top:31px;
    width:235px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7c0 {
    background-image: url('../厂家直供_files/u7c0.png');
}

.u7c0 {
    position:absolute;
    left:250px;
    top:166px;
    width:20px;
    height:49px;
}

.u8 {
    position:absolute;
    left:-50px;
    top:10px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9c0 {
    background-image: url('../厂家直供_files/u9c0.png');
}

.u9c0 {
    position:absolute;
    left:249px;
    top:336px;
    width:20px;
    height:39px;
}

.u9c1 {
    background-image: url('../厂家直供_files/u9c1.png');
}

.u9c1 {
    position:absolute;
    left:248px;
    top:355px;
    width:21px;
    height:20px;
}

.u9c2 {
    background-image: url('../厂家直供_files/u9c2.png');
}

.u9c2 {
    position:absolute;
    left:248px;
    top:355px;
    width:20px;
    height:24px;
}

.u10 {
    position:absolute;
    left:-50px;
    top:10px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../厂家直供_files/u2_normal.png');
}

.u11_container {
    position:absolute;
    left:148px;
    top:205px;
    width:225px;
    height:45px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:51px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:221px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13c0 {
    background-image: url('../厂家直供_files/u13c0.png');
}

.u13c0 {
    position:absolute;
    left:250px;
    top:246px;
    width:20px;
    height:50px;
}

.u13c1 {
    background-image: url('../厂家直供_files/u13c1.png');
}

.u13c1 {
    position:absolute;
    left:249px;
    top:276px;
    width:21px;
    height:20px;
}

.u13c2 {
    background-image: url('../厂家直供_files/u13c2.png');
}

.u13c2 {
    position:absolute;
    left:249px;
    top:276px;
    width:20px;
    height:24px;
}

.u14 {
    position:absolute;
    left:-50px;
    top:16px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../厂家直供_files/u0_normal.png');
}

.u15_container {
    position:absolute;
    left:514px;
    top:110px;
    width:140px;
    height:72px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:78px;
}

.u16 {
    position:absolute;
    left:2px;
    top:28px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../厂家直供_files/u4_normal.png');
}

.u17_container {
    position:absolute;
    left:472px;
    top:308px;
    width:222px;
    height:44px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:50px;
}

.u18 {
    position:absolute;
    left:2px;
    top:6px;
    width:218px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19c0 {
    background-image: url('../厂家直供_files/u19c0.png');
}

.u19c0 {
    position:absolute;
    left:574px;
    top:178px;
    width:20px;
    height:49px;
}

.u20 {
    position:absolute;
    left:-50px;
    top:10px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../厂家直供_files/u2_normal.png');
}

.u21_container {
    position:absolute;
    left:472px;
    top:217px;
    width:225px;
    height:45px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:51px;
}

.u22 {
    position:absolute;
    left:2px;
    top:14px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23c0 {
    background-image: url('../厂家直供_files/u23c0.png');
}

.u23c0 {
    position:absolute;
    left:574px;
    top:258px;
    width:20px;
    height:50px;
}

.u23c1 {
    background-image: url('../厂家直供_files/u23c1.png');
}

.u23c1 {
    position:absolute;
    left:573px;
    top:288px;
    width:21px;
    height:20px;
}

.u23c2 {
    background-image: url('../厂家直供_files/u23c2.png');
}

.u23c2 {
    position:absolute;
    left:573px;
    top:288px;
    width:20px;
    height:24px;
}

.u24 {
    position:absolute;
    left:-50px;
    top:16px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../厂家直供_files/u2_normal.png');
}

.u25_container {
    position:absolute;
    left:146px;
    top:515px;
    width:225px;
    height:45px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:51px;
}

.u26 {
    position:absolute;
    left:2px;
    top:14px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../厂家直供_files/u2_normal.png');
}

.u27_container {
    position:absolute;
    left:469px;
    top:595px;
    width:225px;
    height:45px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:51px;
}

.u28 {
    position:absolute;
    left:2px;
    top:6px;
    width:221px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29c0 {
    background-image: url('../厂家直供_files/u29c0.png');
}

.u29c0 {
    position:absolute;
    left:573px;
    top:348px;
    width:20px;
    height:167px;
}

.u29c1 {
    background-image: url('../厂家直供_files/u29c1.png');
}

.u29c1 {
    position:absolute;
    left:248px;
    top:495px;
    width:345px;
    height:20px;
}

.u29c2 {
    background-image: url('../厂家直供_files/u29c2.png');
}

.u29c2 {
    position:absolute;
    left:248px;
    top:495px;
    width:20px;
    height:24px;
}

.u30 {
    position:absolute;
    left:-141px;
    top:145px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31c0 {
    background-image: url('../厂家直供_files/u31c0.png');
}

.u31c0 {
    position:absolute;
    left:248px;
    top:556px;
    width:20px;
    height:39px;
}

.u31c1 {
    background-image: url('../厂家直供_files/u31c1.png');
}

.u31c1 {
    position:absolute;
    left:248px;
    top:575px;
    width:344px;
    height:20px;
}

.u31c2 {
    background-image: url('../厂家直供_files/u31c2.png');
}

.u31c2 {
    position:absolute;
    left:572px;
    top:575px;
    width:20px;
    height:24px;
}

.u32 {
    position:absolute;
    left:104px;
    top:17px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../厂家直供_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:740px;
    top:296px;
    width:200px;
    height:104px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:110px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:196px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

