<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- IPC接口聚合中心配置 , IPCurl是接口中心地址，ThisAppPoolName是本地应用进程池名（部署时清理进程用的） -->
		<add name="IPCurl" connectionString="http://ipc.fm8844.com/fmwscenter.asmx"/>
		<add name="ThisAppPoolName" connectionString="交易数据监控"/>

    <!-- Redis数据库缓存设置 -->
    <add name="DefaultRedis" connectionString="192.168.10.19|6379"/>

	</connectionStrings>
</configuration>